<div class="contentfragment">
  <article
    id="contentfragment-443e3ae3dd"
    class="cmp-contentfragment cmp-contentfragment--adobe-headquarters"
    data-cmp-contentfragment-model="core-components-examples/models/office"
    data-cmp-data-layer="{&quot;contentfragment-443e3ae3dd&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/contentfragment&quot;,&quot;dc:title&quot;:&quot;Adobe Headquarters&quot;,&quot;elements&quot;:[{&quot;xdm:text&quot;:&quot;Adobe Headquarters&quot;,&quot;xdm:title&quot;:&quot;Title&quot;},{&quot;xdm:text&quot;:&quot;San Jose&quot;,&quot;xdm:title&quot;:&quot;City&quot;}]}}"
    data-cmp-contentfragment-path="/content/dam/core-components-examples/library/sample-assets/adobe-headquarters"
  >
    <h3 class="cmp-contentfragment__title">Adobe Headquarters</h3>
    <dl class="cmp-contentfragment__elements">
      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--title"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Title</dt>
        <dd class="cmp-contentfragment__element-value"> Adobe Headquarters </dd>
      </div>
      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--city"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">City</dt>
        <dd class="cmp-contentfragment__element-value"> San Jose </dd>
      </div>
    </dl>
  </article>
</div>