<div class="contentfragment">
  <article
    id="contentfragment-80a13e6ef4"
    class="cmp-contentfragment cmp-contentfragment--adobe-headquarters"
    data-cmp-contentfragment-model="core-components-examples/models/office"
    data-cmp-data-layer="{&quot;contentfragment-80a13e6ef4&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/contentfragment&quot;,&quot;dc:title&quot;:&quot;Adobe Headquarters&quot;,&quot;elements&quot;:[{&quot;xdm:text&quot;:&quot;Adobe Headquarters&quot;,&quot;xdm:title&quot;:&quot;Title&quot;},{&quot;xdm:text&quot;:&quot;345 Park Avenue&quot;,&quot;xdm:title&quot;:&quot;Street Address&quot;},{&quot;xdm:text&quot;:&quot;San Jose&quot;,&quot;xdm:title&quot;:&quot;City&quot;},{&quot;xdm:text&quot;:&quot;95110-2704&quot;,&quot;xdm:title&quot;:&quot;Postal Code&quot;},{&quot;xdm:text&quot;:&quot;USA&quot;,&quot;xdm:title&quot;:&quot;Country&quot;},{&quot;xdm:text&quot;:&quot;core-components-examples:region/north-america&quot;,&quot;xdm:title&quot;:&quot;Region&quot;}]}}"
    data-cmp-contentfragment-path="/content/dam/core-components-examples/library/sample-assets/adobe-headquarters"
  >
    <h3 class="cmp-contentfragment__title">Adobe Headquarters</h3>
    <dl class="cmp-contentfragment__elements">
      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--title"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Title</dt>
        <dd class="cmp-contentfragment__element-value"> Adobe Headquarters </dd>
      </div>
      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--streetAddress"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Street Address</dt>
        <dd class="cmp-contentfragment__element-value"> 345 Park Avenue </dd>
      </div>
      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--city"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">City</dt>
        <dd class="cmp-contentfragment__element-value"> San Jose </dd>
      </div>
      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--postalCode"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Postal Code</dt>
        <dd class="cmp-contentfragment__element-value"> 95110-2704 </dd>
      </div>
      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--country"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Country</dt>
        <dd class="cmp-contentfragment__element-value"> USA </dd>
      </div>
      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--region"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Region</dt>
        <dd class="cmp-contentfragment__element-value">
          core-components-examples:region/north-america
        </dd>
      </div>
    </dl>
  </article>
</div>