<div class="image">
  <div
    data-asset-id="0f54e1b5-535b-45f7-a46b-35abb19dd6bc"
    id="image-3be950a8b4"
    data-cmp-data-layer="{&quot;image-3be950a8b4&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;0f54e1b5-535b-45f7-a46b-35abb19dd6bc&quot;,&quot;repo:modifyDate&quot;:&quot;1970-01-01T00:00:00Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg&quot;}}}"
    class="cmp-image"
    itemscope=""
    itemtype="http://schema.org/ImageObject"
  >
    <img
      srcset="https://www.aemcomponents.dev/content/core-components-examples/library/core-content/image/_jcr_content/root/responsivegrid/demo_1473529394/component/image.coreimg.82.600.jpeg 600w,https://www.aemcomponents.dev/content/core-components-examples/library/core-content/image/_jcr_content/root/responsivegrid/demo_1473529394/component/image.coreimg.82.800.jpeg 800w,https://www.aemcomponents.dev/content/core-components-examples/library/core-content/image/_jcr_content/root/responsivegrid/demo_1473529394/component/image.coreimg.82.1000.jpeg 1000w,https://www.aemcomponents.dev/content/core-components-examples/library/core-content/image/_jcr_content/root/responsivegrid/demo_1473529394/component/image.coreimg.82.1200.jpeg 1200w,https://www.aemcomponents.dev/content/core-components-examples/library/core-content/image/_jcr_content/root/responsivegrid/demo_1473529394/component/image.coreimg.82.1600.jpeg 1600w"
      src="https://www.aemcomponents.dev/content/core-components-examples/library/core-content/image/_jcr_content/root/responsivegrid/demo_1473529394/component/image.coreimg.jpeg"
      loading="lazy"
      class="cmp-image__image"
      itemprop="contentUrl"
      width="850"
      height="509"
      alt="Lava flowing into the ocean"
    />
  </div>
</div>