<div class="image">
  <div
    data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7"
    id="image-72c95dc7ac"
    data-cmp-data-layer="{&quot;image-72c95dc7ac&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;dc:title&quot;:&quot;Snowy mountain glacier&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.aemcomponents.dev/content/core-components-examples/library/core-content/image.html&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;45c6ee92-90e1-4af2-af69-b6dcbc7daeb7&quot;,&quot;repo:modifyDate&quot;:&quot;1970-01-01T00:00:00Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;https://www.aemcomponents.dev/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg&quot;}}}"
    class="cmp-image"
    itemscope=""
    itemtype="http://schema.org/ImageObject"
  >
    <a
      class="cmp-image__link"
      data-cmp-clickable=""
      href="https://www.aemcomponents.dev/content/core-components-examples/library/core-content/image.html"
    >
      <img
        srcset="https://www.aemcomponents.dev/content/core-components-examples/library/core-content/image/_jcr_content/root/responsivegrid/demo_1473529393/component/image.coreimg.82.600.jpeg 600w,https://www.aemcomponents.dev/content/core-components-examples/library/core-content/image/_jcr_content/root/responsivegrid/demo_1473529393/component/image.coreimg.82.800.jpeg 800w,https://www.aemcomponents.dev/content/core-components-examples/library/core-content/image/_jcr_content/root/responsivegrid/demo_1473529393/component/image.coreimg.82.1000.jpeg 1000w,https://www.aemcomponents.dev/content/core-components-examples/library/core-content/image/_jcr_content/root/responsivegrid/demo_1473529393/component/image.coreimg.82.1200.jpeg 1200w,https://www.aemcomponents.dev/content/core-components-examples/library/core-content/image/_jcr_content/root/responsivegrid/demo_1473529393/component/image.coreimg.82.1600.jpeg 1600w"
        src="https://www.aemcomponents.dev/content/core-components-examples/library/core-content/image/_jcr_content/root/responsivegrid/demo_1473529393/component/image.coreimg.jpeg"
        loading="lazy"
        class="cmp-image__image"
        itemprop="contentUrl"
        width="850"
        height="509"
        alt="Snowy mountain glacier"
        title="Snowy mountain glacier"
      />
    </a>
    <meta itemprop="caption" content="Snowy mountain glacier" />
  </div>
</div>