<div class="pdfviewer">
  <div
    class="cmp-pdfviewer"
    id="pdfviewer-d3f7cce68b"
    data-cmp-client-id="630681c60b144a498850fc22c1df83e0"
    data-cmp-document-path="/content/dam/core-components-examples/library/sample-assets/Bodea Brochure.pdf"
    data-cmp-document-file-name="Bodea Brochure.pdf"
    data-cmp-viewer-config-json="{&quot;embedMode&quot;:&quot;IN_LINE&quot;,&quot;showDownloadPDF&quot;:true,&quot;showPrintPDF&quot;:true}"
    data-cmp-data-layer="{&quot;pdfviewer-d3f7cce68b&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/pdfviewer&quot;}}"
  >
    <div
      id="pdfviewer-d3f7cce68b-content"
      class="cmp-pdfviewer__content cmp-pdfviewer__in-line"
    ></div>
  </div>
</div>