<div
  class="product-recommendations"
  data-component="product-recommendations"
  data-title="You may also like"
  data-products=""
  data-columns-mobile="2"
  data-columns-tablet="3"
  data-columns-desktop="4"
></div>
