<div class="pdfviewer">
  <div
    class="cmp-pdfviewer"
    id="pdfviewer-3a4b886684"
    data-cmp-client-id="630681c60b144a498850fc22c1df83e0"
    data-cmp-document-path="/content/dam/core-components-examples/library/sample-assets/Bodea Brochure.pdf"
    data-cmp-document-file-name="Bodea Brochure.pdf"
    data-cmp-viewer-config-json="{&quot;embedMode&quot;:&quot;FULL_WINDOW&quot;,&quot;defaultViewMode&quot;:&quot;FIT_PAGE&quot;,&quot;showAnnotationTools&quot;:false,&quot;showLeftHandPanel&quot;:true,&quot;showPageControls&quot;:true,&quot;dockPageControls&quot;:true,&quot;showDownloadPDF&quot;:true,&quot;showPrintPDF&quot;:true}"
    data-cmp-data-layer="{&quot;pdfviewer-3a4b886684&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/pdfviewer&quot;}}"
  >
    <div
      id="pdfviewer-3a4b886684-content"
      class="cmp-pdfviewer__content cmp-pdfviewer__full-window"
    ></div>
  </div>
</div>