<div class="pdfviewer">
  <div
    class="cmp-pdfviewer"
    id="pdfviewer-08642d027c"
    data-cmp-client-id="630681c60b144a498850fc22c1df83e0"
    data-cmp-document-path="/content/dam/core-components-examples/library/sample-assets/Bodea Brochure.pdf"
    data-cmp-document-file-name="Bodea Brochure.pdf"
    data-cmp-viewer-config-json="{&quot;embedMode&quot;:&quot;SIZED_CONTAINER&quot;,&quot;showFullScreen&quot;:false,&quot;showPageControls&quot;:false,&quot;dockPageControls&quot;:false,&quot;showDownloadPDF&quot;:true,&quot;showPrintPDF&quot;:true}"
    data-cmp-data-layer="{&quot;pdfviewer-08642d027c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/pdfviewer&quot;}}"
  >
    <div
      id="pdfviewer-08642d027c-content"
      class="cmp-pdfviewer__content cmp-pdfviewer__sized-container"
    ></div>
  </div>
</div>