.cx-datepicker-spinbuttons {
  margin-top: 1em;

  .day {
    width: 2em;
  }

  .month {
    width: 6em;
  }

  .year {
    width: 3em;
  }

  .spinbutton {
    float: left;
    text-align: center;

    &:first-child {
      border-left: 4px;
    }

    &:last-child {
      border-right: 4px;
    }

    .previous,
    .next {
      color: #666;
    }

    &.focus {
      outline: 2px solid #005a9c;
    }

    &.focus,
    &:hover {
      color: #444;
      background-color: #eee;
    }

    &.focus [role="spinbutton"],
    &:hover [role="spinbutton"] {
      background-color: #fff;
      color: black;
    }

    .previous {
      border-bottom: 1px solid black;
    }

    .next {
      border-top: 1px solid black;
    }

    button {
      padding: 0;
      margin: 0;
      border: none;
      background-color: transparent;
    }

    .decrease svg polygon,
    .increase svg polygon {
      fill: #333;
      stroke-width: 3px;
      stroke: transparent;
    }

    .decrease {
      position: relative;
      top: 4px;
    }

    &.focus svg polygon {
      fill: #005a9c;
      stroke: #005a9c;
    }

    .decrease:hover svg polygon,
    .increase:hover svg polygon {
      fill: #005a9c;
      stroke: #005a9c;
    }
  }
}
