@charset "utf-8";

.cx-menubar-editor {
  margin: 0;
  padding: 2px;
  width: 560px;

  .focus {
    padding: 0;
    border: solid 2px #034575;
  }

  textarea {
    padding: 4px;
    margin: 0;
    border: 2px solid #eee;
    height: 400px;
    width: 548px;
    font-size: medium;
    font-family: sans-serif;
  }

  [role="menubar"] {
    margin: 0;
    padding: 2px;
    border: 2px solid #eee;
    font-size: 110%;
    list-style: none;
    background-color: #eee;
    height: 32px;
    display: block;
  }

  [role="menubar"] li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  [role="menubar"] > li {
    display: inline-block;
    position: relative;
    top: 3px;
    left: 1px;
  }

  [role="menubar"] [role="menuitem"] > [aria-hidden]::before {
    content: "▼";
    padding-left: 0.25rem;
    font-size: 11px;
    vertical-align: middle;
  }

  [role="menubar"]
    [role="menuitem"][aria-expanded="true"]
    > [aria-hidden]::before {
    content: "▲";
  }

  [role="menubar"] [role="menu"] {
    display: none;
    margin: 0;
    padding: 2px;
    position: absolute;
    border: 2px solid #034575;
    background-color: #eee;
  }

  [role="menubar"] [role="group"] {
    margin: 0;
    padding: 0;
  }

  [role="menubar"] [role="menuitem"][aria-disabled="true"] {
    color: #666;
    text-decoration: line-through;
  }

  [role="menubar"] [role="separator"] {
    padding-top: 3px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cline x1='0' y1='6' x2='12' y2='6' style='stroke:black;stroke-width:1' /%3E%3C/svg%3E%0A");
    background-size: 10px 10px;
    background-position: center;
    background-repeat: repeat-x;
  }

  [role="menubar"] [role="menuitem"],
  [role="menubar"] [role="menuitemcheckbox"],
  [role="menubar"] [role="menuitemradio"],
  [role="menubar"] [role="separator"] {
    padding: 6px;
    background-color: #eee;
    border: 0 solid #eee;
    color: black;
  }

  [role="menubar"] [role="menuitem"][aria-expanded="true"] {
    padding: 4px;
    border: 2px solid #034575;
    background-color: #034575;
    color: #fff;
    outline: none;
  }

  [role="menubar"] [role="menu"] [role="menuitem"],
  [role="menubar"] [role="menu"] [role="menuitemcheckbox"],
  [role="menubar"] [role="menu"] [role="menuitemradio"],
  [role="menubar"] [role="menu"] [role="separator"] {
    padding-left: 27px;
    width: 8em;
  }

  [role="menubar"] [role="menu"] [aria-checked="true"] {
    padding: 6px;
    padding-left: 8px;
    padding-right: 18px;
  }

  [role="menubar"]
    [role="menuitemradio"][aria-checked="true"]
    > [aria-hidden]::before {
    content: "●";
    display: inline-block;
    width: 18px;
  }

  [role="menubar"]
    [role="menuitemcheckbox"][aria-checked="true"]
    > [aria-hidden]::before {
    content: "✓";
    display: inline-block;
    width: 18px;
  }

  /* focus and hover styling */

  [role="menubar"] [role="menuitem"]:focus,
  [role="menubar"] [role="menuitemcheckbox"]:focus,
  [role="menubar"] [role="menuitemradio"]:focus {
    padding: 4px;
    border: 2px solid #034575;
    background-color: #034575;
    color: #fff;
    outline: none;
  }

  [role="menubar"]
    [role="menuitemradio"][aria-checked="true"]:focus
    > [aria-hidden]::before,
  [role="menubar"]
    [role="menuitemcheckbox"][aria-checked="true"]:focus
    > [aria-hidden]::before {
    margin-left: -2px;
  }

  [role="menubar"] [role="menuitem"]:hover {
    padding: 4px;
    border: 2px solid #034575;
  }

  [role="menubar"] [role="menu"] [role="menuitem"]:focus,
  [role="menubar"] [role="menu"] [role="menuitemcheckbox"]:focus,
  [role="menubar"] [role="menu"] [role="menuitemradio"]:focus {
    padding-left: 25px;
  }

  [role="menubar"] [role="menu"] [role="menuitem"][aria-checked="true"]:focus,
  [role="menubar"]
    [role="menu"]
    [role="menuitemcheckbox"][aria-checked="true"]:focus,
  [role="menubar"]
    [role="menu"]
    [role="menuitemradio"][aria-checked="true"]:focus {
    padding-left: 8px;
    padding-right: 21px;
  }

  /*
  * Text area styles
  */
  .italic {
    font-style: italic;
  }

  .bold {
    font-weight: bold;
  }

  .underline {
    text-decoration: underline;
  }
}
