[role="toolbar"] {
	border: 2px solid transparent;
	border-radius: 5px;
	padding: 6px;
	height: 44px;
	width: 1050px;
	background-color: #ececea;
	.group {
		padding: 0.25em;
		display: block;
		float: left;
		&:not(:first-child) {
			margin-left: 0.75em;
		}
	}
	button {
		border: 1px solid rgb(255 255 255);
		outline: none;
		display: inline-block;
		padding: 6px 12px;
		border-radius: 5px;
		text-align: center;
		background: rgb(255 255 255);
		color: #222428;
		font-size: 14px;
		line-height: 1.5em;
		margin-right: 0.25em;
		.popup-label {
			display: block;
			width: initial;
			border: 1px solid white;
			padding: 2px 4px;
			border-radius: 5px;
			position: absolute;
			top: -30000em;
			background-color: black;
			color: white;
			font-weight: normal;
			&::after {
				top: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgb(0 0 0 / 0%);
				border-top-color: #000;
				border-width: 10px;
				margin-left: -10px;
			}
			&::before {
				top: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgb(255 255 255 / 0%);
				border-top-color: #fff;
				border-width: 12px;
				margin-left: -12px;
			}
		}
		.popup-label.show {
			text-align: center;
			top: -2.5em;
		}
		&::-moz-focus-inner {
			border: 0;
		}
		&:focus {
			border-width: 2px;
			border-color: #005a9c;
			background: rgb(226 239 255);
			padding: 5px 11px;
		}
		&:hover {
			border-color: #005a9c;
			background: rgb(226 239 255);
		}
	}
	[role="radio"] {
		border: 1px solid rgb(255 255 255);
		outline: none;
		display: inline-block;
		padding: 6px 12px;
		border-radius: 5px;
		text-align: center;
		background: rgb(255 255 255);
		color: #222428;
		font-size: 14px;
		line-height: 1.5em;
		margin-right: 0.25em;
		&:focus {
			border-width: 2px;
			border-color: #005a9c;
			background: rgb(226 239 255);
			padding: 5px 11px;
		}
		&:hover {
			border-color: #005a9c;
			background: rgb(226 239 255);
		}
	}
	label {
		border: 1px solid rgb(255 255 255);
		outline: none;
		display: inline-block;
		padding: 6px 12px;
		border-radius: 5px;
		text-align: center;
		background: rgb(255 255 255);
		color: #222428;
		font-size: 14px;
		line-height: 1.5em;
		margin-right: 0.25em;
	}
	.spinbutton {
		border: 1px solid rgb(255 255 255);
		outline: none;
		display: inline-block;
		padding: 6px 12px;
		border-radius: 5px;
		text-align: center;
		background: rgb(255 255 255);
		color: #222428;
		font-size: 14px;
		line-height: 1.5em;
		margin-right: 0.25em;
		&:focus {
			border-width: 2px;
			border-color: #005a9c;
			background: rgb(226 239 255);
			padding: 5px 11px;
		}
		&:hover {
			border-color: #005a9c;
			background: rgb(226 239 255);
		}
	}
	a {
		border: 1px solid rgb(255 255 255);
		outline: none;
		display: inline-block;
		padding: 6px 12px;
		border-radius: 5px;
		text-align: center;
		background: rgb(255 255 255);
		color: #222428;
		font-size: 14px;
		line-height: 1.5em;
		margin-right: 0.25em;
		&:focus {
			border-width: 2px;
			border-color: #005a9c;
			background: rgb(226 239 255);
			padding: 5px 11px;
		}
		&:hover {
			border-color: #005a9c;
			background: rgb(226 239 255);
		}
	}
	.input {
		border: 1px solid rgb(255 255 255);
		outline: none;
		display: inline-block;
		padding: 6px 12px;
		border-radius: 5px;
		text-align: center;
		background: rgb(255 255 255);
		color: #222428;
		font-size: 14px;
		line-height: 1.5em;
		margin-right: 0.25em;
	}
	button.popup {
		position: relative;
	}
	button[aria-pressed="true"] {
		border-color: #555;
		font-weight: bold;
		background-color: #f4f4f4;
	}
	[role="radio"][aria-checked="true"] {
		border-color: #555;
		font-weight: bold;
		background-color: #f4f4f4;
	}
	button[aria-disabled="true"] {
		color: #889;
		cursor: not-allowed;
		&:focus {
			border-color: #005a9c;
		}
	}
	.focus {
		border-width: 2px;
		border-color: #005a9c;
		background: rgb(226 239 255);
		padding: 5px 11px;
	}
	label.input {
		&:hover {
			border-color: #005a9c;
			background: rgb(226 239 255);
		}
	}
	[role="spinbutton"] {
		.value {
			width: 60px;
			display: inline-block;
			padding: 0;
			margin: 0;
		}
		.increase {
			width: 60px;
			display: inline-block;
			padding: 0;
			margin: 0;
			width: 20px;
			border: 1px solid #ececea;
			border-radius: 3px;
			background-color: #ececea;
			&:hover {
				fill: #005a9c;
				border-color: #005a9c;
			}
		}
		.decrease {
			width: 60px;
			display: inline-block;
			padding: 0;
			margin: 0;
			width: 20px;
			border: 1px solid #ececea;
			border-radius: 3px;
			background-color: #ececea;
			&:hover {
				fill: #005a9c;
				border-color: #005a9c;
			}
		}
		&:focus {
			.increase {
				fill: #005a9c;
				border-color: #005a9c;
			}
			.decrease {
				fill: #005a9c;
				border-color: #005a9c;
			}
		}
	}
	button[aria-haspopup] {
		span {
			float: right;
			&::after {
				// content: url("../images/pulldown-icon.svg");
				content: "v";
			}
		}
		&:focus {
			span {
				&::after {
					// content: url("../images/pulldown-icon-focus.svg");
					content: "v";
				}
			}
		}
	}
	.menu-popup {
		position: relative;
		[role="menu"] {
			padding: 0;
			width: 9.5em;
			border: 2px solid #ddd;
			border-radius: 5px;
			background-color: white;
			display: none;
			position: absolute;
			margin: 0;
			z-index: 1;
			li {
				padding: 0;
				margin: 0;
				display: block;
				text-align: left;
				list-style: none;
			}
			[role="menuitemradio"] {
				padding: 1px 2px;
				outline: 0;
				border: none;
				border-radius: 0;
				&:focus {
					background: rgb(226 239 255);
					border-top: 1px solid #005a9c;
					border-bottom: 1px solid #005a9c;
					padding-top: 0;
					padding-bottom: 0;
					border-color: #005a9c;
				}
				&:hover {
					background: rgb(226 239 255);
					border-top: 1px solid #005a9c;
					border-bottom: 1px solid #005a9c;
					padding-top: 0;
					padding-bottom: 0;
				}
			}
		}
		[role="menu"].focus {
			border-color: #005a9c;
		}
	}
}
[role="toolbar"].focus {
	border-color: #005a9c;
	border-width: 3px;
	padding: 5px;
}
textarea {
	width: 990px;
	padding: 0.25em;
	border: 2px solid black;
	height: 400px;
	font-size: 14pt;
	font-family: sans-serif;
	border-radius: 5px;
}

//Todo
// [role="toolbar"] .menu-popup [role="menu"] [role="menuitemradio"]::before {
//   // content: url("../images/menuitemradio-unchecked.svg");
// }

// [role="toolbar"]
//   .menu-popup
//   [role="menu"]
//   [role="menuitemradio"][aria-checked="true"]::before {
//   // content: url("../images/menuitemradio-checked.svg");
// }