<nav aria-label="Breadcrumb" class="cx-breadcrumb breadcrumb">
  <ol>
    <li>
      <a href="https://www.w3.org/WAI/ARIA/apg/">WAI-ARIA Authoring Practices</a>
    </li>
    <li>
      <a href="https://www.w3.org/WAI/ARIA/apg/patterns/">Design Patterns</a>
    </li>
    <li>
      <a href="https://www.w3.org/WAI/ARIA/apg/patterns/breadcrumb/">Breadcrumb
        Pattern</a>
    </li>
    <li>
      <a href="index.html" aria-current="page">Breadcrumb Example</a>
    </li>
  </ol>
</nav>