<div class="menu-button-actions" data-component="menubutton-focus">
  <button type="button" id="menubutton1" aria-haspopup="true" aria-controls="menu1">
    Actions
    <svg xmlns="http://www.w3.org/2000/svg" class="down" width="12" height="9" viewBox="0 0 12 9">
      <polygon points="1 0, 11 0, 6 8"></polygon>
    </svg>
  </button>

  <ul id="menu1" role="menu" aria-labelledby="menubutton1">
    <li role="menuitem">Action 1</li>
    <li role="menuitem">Action 2</li>
    <li role="menuitem">Action 3</li>
    <li role="menuitem">Action 4</li>
  </ul>
</div>
        <p>
<label>Last Action: <input class="action" id="action_output" type="text" value=""></label>
        </p>