<div class="cx-table-wrap"><table class="cx-sortable" data-component="sortabletable">
    <caption>
      Students currently enrolled in WAI-ARIA 101
      <span class="cx-sr-only">, column headers with buttons are sortable.</span>
    </caption>
    <thead>
      <tr>
        <th>
          <button>
            First Name
            <span aria-hidden="true"></span>
          </button>
        </th>
        <th aria-sort="ascending">
          <button>
            Last Name
            <span aria-hidden="true"></span>
          </button>
        </th>
        <th>
          <button>
            Company
            <span aria-hidden="true"></span>
          </button>
        </th>
        <th class="cx-no-sort">Address</th>
        <th class="cx-num">
          <button>
            Favorite Number
            <span aria-hidden="true"></span>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Fred</td>
        <td>Jackson</td>
        <td>Canary, Inc.</td>
        <td>123 Broad St.</td>
        <td class="cx-num">56</td>
      </tr>
      <tr>
        <td>Sara</td>
        <td>James</td>
        <td>Cardinal, Inc.</td>
        <td>457 First St.</td>
        <td class="cx-num">7</td>
      </tr>
      <tr>
        <td>Ralph</td>
        <td>Jefferson</td>
        <td>Robin, Inc.</td>
        <td>456 Main St.</td>
        <td class="cx-num">513</td>
      </tr>
      <tr>
        <td>Nancy</td>
        <td>Jensen</td>
        <td>Eagle, Inc.</td>
        <td>2203 Logan Dr.</td>
        <td class="cx-num">3.5</td>
      </tr>
    </tbody>
  </table></div>