@charset "utf-8";

.cx-menu {
  header {
    border: #005a9c solid 2px;
    background: #005a9c;
    color: white;
    text-align: center;
  }

  header .title {
    font-size: 2.5em;
    font-weight: bold;
    font-family: serif;
  }

  header .tagline {
    font-style: italic;
  }

  .main {
    padding: 1em 5% 5em;
    border-left: 2px solid #eee;
    border-right: 2px solid #eee;
  }

  footer {
    border: #005a9c solid 2px;
    background: #005a9c;
    font-family: serif;
    color: white;
    font-style: italic;
    padding-left: 1em;
  }

  nav {
    margin: 0;
    padding: 0;
    border: 2px solid #eee;
  }
}

.cx-menubar-navigation {
  margin: 0;
  padding: 2px;
  font-size: 110%;
  list-style: none;
  background-color: #eee;
  border: #eee solid 1px;

  li {
    margin: 0;
    padding: 0;
    border: 0 solid black;
    list-style: none;
  }

  & > li {
    display: inline-block;
    position: relative;
  }

  & > li li {
    display: block;
  }

  & > li > [role="menuitem"] {
    display: inline-block;
    margin: 2px;
    padding: 4px;
    padding-bottom: 8px;
    background-color: #eee;
    border: 0 solid #eee;
    color: black;
  }

  [role="separator"] {
    padding-top: 3px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cline x1='0' y1='6' x2='12' y2='6' style='stroke:black;stroke-width:1' /%3E%3C/svg%3E%0A");
    background-size: 10px 10px;
    background-position: center;
    background-repeat: repeat-x;
  }

  [role="menu"] [role="menuitem"],
  [role="menu"] [role="separator"] {
    display: block;
    width: 12em;
    margin: 2px;
    padding: 4px;
    padding-left: 8px;
    background-color: #eee;
    border: 0 solid #eee;
    color: black;
  }

  [role="menuitem"] svg {
    fill: currentcolor;
    stroke: currentcolor;
  }

  [role="menuitem"] svg.down {
    padding-left: 0.125em;
  }

  [role="menuitem"] svg.right {
    position: absolute;
    padding-top: 0.35em;
    right: 0.75em;
  }

  [role="menuitem"][aria-expanded="true"] svg.down {
    transform: rotate(180deg);
  }

  [role="menuitem"][aria-expanded="true"] svg.right {
    transform: rotate(90deg) translate(5px, -5px);
  }

  [role="menu"] {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    padding: 7px 4px;
    border: 2px solid #034575;
    background-color: #eee;
  }

  [role="group"] {
    margin: 0;
    padding: 0;
  }

  /* aria-current styling */

  & > li > [role="menuitem"][aria-current],
  & > li > [role="menuitem"].aria-current-path {
    padding-bottom: 2px;
    border-bottom: 4px solid #034575;
  }

  [role="menu"] [role="menuitem"].aria-current-path,
  [role="menu"] [role="menuitem"][aria-current] {
    padding-left: 4px;
    border-left: 4px solid #034575;
  }

  /* focus styling */

  &.focus {
    padding: 0;
    border: #034575 solid 3px;
  }

  & > li > [aria-expanded="true"],
  & > li > [role="menuitem"]:focus,
  & > li > [role="menuitem"]:hover {
    outline: none;
    background-color: #ccc;
  }

  & > li > [role="menuitem"]:focus,
  & > li > [role="menuitem"]:hover {
    padding: 2px;
    padding-bottom: 4px;
    border: 2px solid #034575;
  }

  [role="menu"] [aria-expanded="true"],
  [role="menu"] [role="menuitem"]:focus,
  [role="menu"] [role="menuitem"]:hover {
    outline: none;
    background-color: #ccc;
  }

  [role="menu"] [role="menuitem"]:focus,
  [role="menu"] [role="menuitem"]:hover {
    padding: 2px;
    padding-left: 6px;
    border: 2px solid #034575;
  }

  & > li > [aria-expanded="true"].aria-current-path,
  & > li > [role="menuitem"].aria-current-path:focus,
  & > li > [role="menuitem"].aria-current-path:hover,
  & > li > [role="menuitem"][aria-current]:focus,
  & > li > [role="menuitem"][aria-current]:hover {
    padding-bottom: 2px;
    border-bottom: 4px solid #034575;
  }

  [role="menu"] [aria-expanded="true"].aria-current-path,
  [role="menu"] [role="menuitem"].aria-current-path:focus,
  [role="menu"] [role="menuitem"].aria-current-path:hover,
  [role="menu"] [role="menuitem"][aria-current]:focus,
  [role="menu"] [role="menuitem"][aria-current]:hover {
    padding-left: 4px;
    border-left: 4px solid #034575;
  }
}
