<section id="cx-myCarousel" class="cx-carousel-tablist" aria-roledescription="carousel" data-component="carousel-with-tab-controls" aria-label="Highlighted television shows">

  <div class="cx-carousel-inner">

    <div class="cx-controls">

      <button class="cx-rotation" type="button">
        <svg width="42" height="34" version="1.1" xmlns="http://www.w3.org/2000/svg" class="cx-svg-play">
          <rect class="cx-background" x="2" y="2" rx="5" ry="5" width="38" height="24"></rect>
          <rect class="cx-border" x="4" y="4" rx="5" ry="5" width="34" height="20"></rect>

          <polygon class="cx-pause" points="17 8 17 20"></polygon>

          <polygon class="cx-pause" points="24 8 24 20"></polygon>

          <polygon class="cx-play" points="15 8 15 20 27 14"></polygon>

        </svg>
      </button>

      <div class="cx-tab-wrapper">
        <div role="tablist" aria-label="Slides">
          <button id="cx-carousel-tab-1" type="button" role="tab" aria-label="Slide 1" aria-selected="true" aria-controls="cx-carousel-item-1">
            <svg width="34" height="34" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <circle class="cx-border" cx="16" cy="15" r="10"></circle>
              <circle class="cx-tab-background" cx="16" cy="15" r="8"></circle>
              <circle class="cx-tab" cx="16" cy="15" r="6"></circle>
            </svg>
          </button>
          <button id="cx-carousel-tab-2" type="button" role="tab" tabindex="-1" aria-label="Slide 2" aria-selected="false" aria-controls="cx-carousel-item-2">
            <svg width="34" height="34" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <circle class="cx-border" cx="16" cy="15" r="10"></circle>
              <circle class="cx-tab-background" cx="16" cy="15" r="8"></circle>
              <circle class="cx-tab" cx="16" cy="15" r="6"></circle>
            </svg>
          </button>
          <button id="cx-carousel-tab-3" type="button" role="tab" tabindex="-1" aria-label="Slide 3" aria-selected="false" aria-controls="cx-carousel-item-3">
            <svg width="34" height="34" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <circle class="cx-border" cx="16" cy="15" r="10"></circle>
              <circle class="cx-tab-background" cx="16" cy="15" r="8"></circle>
              <circle class="cx-tab" cx="16" cy="15" r="6"></circle>
            </svg>
          </button>
          <button id="cx-carousel-tab-4" type="button" role="tab" tabindex="-1" aria-label="Slide 4" aria-selected="false" aria-controls="cx-carousel-item-4">
            <svg width="34" height="34" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <circle class="cx-border" cx="16" cy="15" r="10"></circle>
              <circle class="cx-tab-background" cx="16" cy="15" r="8"></circle>
              <circle class="cx-tab" cx="16" cy="15" r="6"></circle>
            </svg>
          </button>
          <button id="cx-carousel-tab-5" type="button" role="tab" tabindex="-1" aria-label="Slide 5" aria-selected="false" aria-controls="cx-carousel-item-5">
            <svg width="34" height="34" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <circle class="cx-border" cx="16" cy="15" r="10"></circle>
              <circle class="cx-tab-background" cx="16" cy="15" r="8"></circle>
              <circle class="cx-tab" cx="16" cy="15" r="6"></circle>
            </svg>
          </button>
          <button id="cx-carousel-tab-6" type="button" role="tab" tabindex="-1" aria-label="Slide 6" aria-selected="false" aria-controls="cx-carousel-item-6">
            <svg width="34" height="34" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <circle class="cx-border" cx="16" cy="15" r="10"></circle>
              <circle class="cx-tab-background" cx="16" cy="15" r="8"></circle>
              <circle class="cx-tab" cx="16" cy="15" r="6"></circle>
            </svg>
          </button>
        </div>
      </div>
    </div>


    <div id="cx-myCarousel-items" class="cx-carousel-items cx-playing" aria-live="off">

      <div class="cx-carousel-item cx-active" id="cx-carousel-item-1" role="tabpanel" aria-roledescription="slide" aria-label="1 of 6">

        <div class="cx-carousel-image">
          <a href="#" id="cx-carousel-image-1">
            <img src="https://www.w3.org/WAI/ARIA/apg/example-index/carousel/images/amsterdamslide__800x600.jpg" alt="Walking Tour in Amsterdam">
          </a>
        </div>

        <div class="cx-carousel-caption">

          <h3>
            <a href="#">
               Dynamic Europe: Amsterdam, Prague, Berlin
            </a>
          </h3>

          <div class="cx-hidden-xs cx-hidden-sm">
            <p><span class="cx-contrast">7 pm Tuesday, March 3, on TV</span></p>
          </div>
        </div>  
      </div>   

      <div class="cx-carousel-item" id="cx-carousel-item-2" role="tabpanel" aria-roledescription="slide" aria-label="2 of 6">

        <div class="cx-carousel-image">
          <a href="#" id="cx-carousel-image-2">
            <img src="https://www.w3.org/WAI/ARIA/apg/example-index/carousel/images/lands-endslide__800x600.jpg" alt="Land's End in Cornwall">
          </a>
        </div>

        <div class="cx-carousel-caption">

          <h3>
            <a href="#">
              Travel to Southwest England and Paris
            </a>
          </h3>

          <div>
            <p><span class="cx-contrast">Sept. 14 to Sept. 24 or 27</span></p>
          </div>
        </div>  
      </div>   

      <div class="cx-carousel-item" id="cx-carousel-item-3" role="tabpanel" aria-roledescription="slide" aria-label="3 of 6">

        <div class="cx-carousel-image">
          <a href="#!" id="cx-carousel-image-3">
            <img src="https://www.w3.org/WAI/ARIA/apg/example-index/carousel/images/trustslide-2__800x600.jpg" alt="Mom and daughter play Daniel Tiger game on notebook computer.">
          </a>
        </div>

        <div class="cx-carousel-caption">

          <h3>
            <a href="#">
              Great Children's Programming on Public TV
            </a>
          </h3>

          <div>

          </div>
        </div>  
      </div>   

      <div class="cx-carousel-item" id="cx-carousel-item-4" role="tabpanel" aria-roledescription="slide" aria-label="4 of 6">

        <div class="cx-carousel-image">
          <a href="#" id="cx-carousel-image-4">
            <img src="https://www.w3.org/WAI/ARIA/apg/example-index/carousel/images/foyleswarslide__800x600.jpg" alt="A man in a suit and fedora and a woman with coiffed hair look sternly into the camera.">
          </a>
        </div>

        <div class="cx-carousel-caption">

          <h3>
            <a href="#">
              Foyle’s War Revisited
            </a>
          </h3>

          <div>
            <p><span class="cx-contrast">8 pm Sunday, March 8, on TV: Sneak peek at the final season.</span></p>
          </div>
        </div>  
      </div>   

      <div class="cx-carousel-item" id="cx-carousel-item-5" role="tabpanel" aria-roledescription="slide" aria-label="5 of 6">

        <div class="cx-carousel-image">
          <a href="#" id="cx-carousel-image-5">
            <img src="https://www.w3.org/WAI/ARIA/apg/example-index/carousel/images/britcomdavidslide__800x600.jpg" alt="British flag with WILL-TV host David Thiel.">
          </a>
        </div>

        <div class="cx-carousel-caption">

          <h3>
            <a href="#">
              Great Britain Vote: 7 pm Sat.
            </a>
          </h3>

          <div>
          </div>
        </div>  
      </div>   

      <div class="cx-carousel-item" id="cx-carousel-item-6" role="tabpanel" aria-roledescription="slide" aria-label="6 of 6">

        <div class="cx-carousel-image">
          <a href="#" id="cx-carousel-image-6">
            <img src="https://www.w3.org/WAI/ARIA/apg/example-index/carousel/images/mag800-2__800x600.jpg" alt="Mid-American Gardener panelists on the set">
          </a>
        </div>

        <div class="cx-carousel-caption">

          <h3>
            <a href="#">
              Mid-American Gardener: Thursdays at 7 pm
            </a>
          </h3>

          <div class="cx-hidden-xs cx-hidden-sm">
            <p><span class="cx-contrast">Watch the latest episodes.</span></p>
          </div>
        </div>  
      </div>   

    </div>


  </div> 


</section>

<div class="cx-col-sm-1"></div>