<h4 id="cx-grid1_label">Related Documents</h4>
<div id="cx-ex1-grid" role="grid" class="cx-list-links" aria-labelledby="grid1_label" data-wrap-cols="true" data-wrap-rows="true" data-restructure="true" data-component="simplelist">
  <div role="row">
    <span role="gridcell" class="cx-list-link"><a tabindex="-1" href="http://www.w3.org/TR/wai-aria-1.1/">ARIA 1.1 Specification</a></span>
    <span role="gridcell" class="cx-list-link"><a tabindex="-1" href="https://www.w3.org/TR/core-aam-1.1/">Core Accessibility API Mappings 1.1</a></span>
    <span role="gridcell" class="cx-list-link"><a tabindex="-1" href="https://www.w3.org/WAI/intro/aria.php">WAI-ARIA Overview</a></span>
    <span role="gridcell" class="cx-list-link"><a tabindex="-1" href="https://www.w3.org/WAI/intro/wcag">WCAG Overview</a></span>
    <span role="gridcell" class="cx-list-link"><a tabindex="-1" href="https://html.spec.whatwg.org/">HTML Specification</a></span>
    <span role="gridcell" class="cx-list-link"><a tabindex="-1" href="https://www.w3.org/TR/SVG2/">SVG 2 Specification</a></span>
  </div>
</div>
<div id="cx-grid-nux" class="cx-grid-nux hidden" role="region" aria-label="Grid Instructions" tabindex="0">
  <p class="cx-grid-nux-header">
    Move keyboard focus inside a grid with arrow keys.
  </p>
  <p class="cx-indicator_description">
    <img src="imgs/black_keys.png" width="100" alt="Arrow keypad" class="cx-indicator_graphic">
  </p>
  <p>
    This focus ring means arrow key navigation is available. Press arrow keys to move inside the component. Press Tab to jump to the next component.
    <span class="cx-indicator_description">
      As a reminder, an arrow keypad graphic also appears in the lower left corner of the page.
    </span>
  </p>
  <p>
    Components that support arrow keys often enable additional keys that make navigation easier,
    such as Home, End, Ctrl-Home, Ctrl-End, Page Up, and Page Down.
  </p>
  <a id="cx-close-nux-button" class="cx-close-nux-button" role="button" tabindex="0">
    Close Tutorial
  </a>
</div>
      