<section id="cx-myCarousel" class="cx-carousel" aria-roledescription="carousel" data-component="carousel-with-button-controls" aria-label="Highlighted television shows">

  <div class="cx-carousel-inner">

    <div class="cx-controls">

      <button type="button" class="cx-rotation cx-pause" aria-label="Stop automatic slide show">
        <svg width="42" height="34" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <rect class="cx-background" x="2" y="2" rx="5" ry="5" width="38" height="24"></rect>
          <rect class="cx-border" x="4" y="4" rx="5" ry="5" width="34" height="20"></rect>

          <polygon class="cx-pause" points="17 8 17 20"></polygon>

          <polygon class="cx-pause" points="24 8 24 20"></polygon>

          <polygon class="cx-play" points="15 8 15 20 27 14"></polygon>

        </svg>
      </button>


      <button type="button" class="cx-previous" aria-controls="myCarousel-items" aria-label="Previous Slide">
        <svg width="42" height="34" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <rect class="cx-background" x="2" y="2" rx="5" ry="5" width="38" height="24"></rect>
          <rect class="cx-border" x="4" y="4" rx="5" ry="5" width="34" height="20"></rect>
          <polygon points="9 14 21 8 21 11 33 11 33 17 21 17 21 20"></polygon>
        </svg>
      </button>

      <button type="button" class="cx-next" aria-controls="myCarousel-items" aria-label="Next Slide">
        <svg width="42" height="34" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <rect class="cx-background" x="2" y="2" rx="5" ry="5" width="38" height="24"></rect>
          <rect class="cx-border" x="4" y="4" rx="5" ry="5" width="34" height="20"></rect>
          <polygon points="9 11 21 11 21 8 33 14 21 20 21 17 9 17"></polygon>
        </svg>
      </button>

    </div>


    <div id="cx-myCarousel-items" class="cx-carousel-items" aria-live="off">

      <div class="cx-carousel-item cx-active" role="group" aria-roledescription="slide" aria-label="1 of 6">

        <div class="cx-carousel-image">
          <a href="#">
            <img src="https://www.w3.org/WAI/ARIA/apg/example-index/carousel/images/amsterdamslide__800x600.jpg" alt="Walking Tour in Amsterdam">
          </a>
        </div>

        <div class="cx-carousel-caption">

          <h3>
            <a href="#" id="cx-carousel-label-1">
               Dynamic Europe: Amsterdam, Prague, Berlin
            </a>
          </h3>

          <div class="cx-hidden-xs cx-hidden-sm">
            <p><span class="cx-contrast">7 pm Tuesday, March 3, on TV</span></p>
          </div>
        </div>  
      </div>   

      <div class="cx-carousel-item" role="group" aria-roledescription="slide" aria-label="2 of 6">

        <div class="cx-carousel-image">
          <a href="#">
            <img src="https://www.w3.org/WAI/ARIA/apg/example-index/carousel/images/lands-endslide__800x600.jpg" alt="Land's End in Cornwall">
          </a>
        </div>

        <div class="cx-carousel-caption">

          <h3>
            <a href="#" id="cx-carousel-label-2">
              Travel to Southwest England and Paris
            </a>
          </h3>

          <div>
            <p><span class="cx-contrast">Sept. 14 to Sept. 24 or 27</span></p>
          </div>
        </div>  
      </div>   

      <div class="cx-carousel-item" role="group" aria-roledescription="slide" aria-label="3 of 6">

        <div class="cx-carousel-image">
          <a href="#">
            <img src="https://www.w3.org/WAI/ARIA/apg/example-index/carousel/images/trustslide-2__800x600.jpg" alt="Mom and daughter play Daniel Tiger game on notebook computer.">
          </a>
        </div>

        <div class="cx-carousel-caption">

          <h3>
            <a href="#" id="cx-carousel-label-3">
              Great Children's Programming on Public TV
            </a>
          </h3>

          <div>

          </div>
        </div>  
      </div>   

      <div class="cx-carousel-item" role="group" aria-roledescription="slide" aria-label="4 of 6">

        <div class="cx-carousel-image">
          <a href="#">
            <img src="https://www.w3.org/WAI/ARIA/apg/example-index/carousel/images/foyleswarslide__800x600.jpg" alt="A man in a suit and fedora and a woman with coiffed hair look sternly into the camera.">
          </a>
        </div>

        <div class="cx-carousel-caption">

          <h3>
            <a href="#" id="cx-carousel-label-4">
              Foyle’s War Revisited
            </a>
          </h3>

          <div>
            <p><span class="cx-contrast">8 pm Sunday, March 8, on TV: Sneak peek at the final season.</span></p>
          </div>
        </div>  
      </div>   

      <div class="cx-carousel-item" role="group" aria-roledescription="slide" aria-label="5 of 6">

        <div class="cx-carousel-image">
          <a href="#">
            <img src="https://www.w3.org/WAI/ARIA/apg/example-index/carousel/images/britcomdavidslide__800x600.jpg" alt="British flag with WILL-TV host David Thiel.">
          </a>
        </div>

        <div class="cx-carousel-caption">

          <h3>
            <a href="#" id="cx-carousel-label-5">
              Great Britain Vote: 7 pm Sat.
            </a>
          </h3>

          <div>
          </div>
        </div>  
      </div>   

      <div class="cx-carousel-item" role="group" aria-roledescription="slide" aria-label="6 of 6">

        <div class="cx-carousel-image">
          <a href="#">
            <img src="https://www.w3.org/WAI/ARIA/apg/example-index/carousel/images/mag800-2__800x600.jpg" alt="Mid-American Gardener panelists on the set">
          </a>
        </div>

        <div class="cx-carousel-caption">

          <h3>
            <a href="#" id="cx-carousel-label-6">
              Mid-American Gardener: Thursdays at 7 pm
            </a>
          </h3>

          <div class="cx-hidden-xs cx-hidden-sm">
            <p><span class="cx-contrast">Watch the latest episodes.</span></p>
          </div>
        </div>  
      </div>   

    </div>


  </div> 


</section>

<div class="cx-col-sm-1"></div>