/* CSS Document */

.cx-rating-radio {
  label {
    display: block;
  }

  svg g[role="radio"] {
    color: #005a9c;
  }

  svg {
    forced-color-adjust: auto;
    touch-action: pan-y;

    .focus-ring,
    .focus-ring-none {
      stroke-width: 0;
      fill-opacity: 0;
    }

    .star {
      stroke-width: 2px;
      stroke: currentcolor;
      fill-opacity: 0;
    }

    .star-none {
      stroke-width: 3px;
      stroke: currentcolor;
      fill-opacity: 0;
    }
  }

  &[data-rating-value="5"] svg .star {
    fill: currentcolor;
    fill-opacity: 1;
  }

  &[data-rating-value="1"] svg .star-1 .star {
    fill: currentcolor;
    fill-opacity: 1;
  }

  &[data-rating-value="2"] svg .star-2 .star {
    fill: currentcolor;
    fill-opacity: 1;
  }

  &[data-rating-value="3"] svg .star-3 .star {
    fill: currentcolor;
    fill-opacity: 1;
  }

  &[data-rating-value="4"] svg .star-4 .star {
    fill: currentcolor;
    fill-opacity: 1;
  }

  /* focus styling */

  svg g:focus {
    outline: none;
  }

  svg g:focus .focus-ring {
    stroke-width: 2px;
    stroke: currentcolor;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}
