<div class="accordion panelcontainer">
  <div id="accordion-2098845c33" data-cmp-is="accordion" class="cmp-accordion" data-cmp-data-layer="{&quot;accordion-2098845c33&quot;:{&quot;shownItems&quot;:[&quot;accordion-2098845c33-item-ace86c638b&quot;],&quot;@type&quot;:&quot;core-components-examples/components/accordion&quot;}}" data-placeholder-text="false">
    <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-2098845c33-item-ace86c638b&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 1&quot;}}" id="accordion-2098845c33-item-ace86c638b" data-cmp-expanded="">
      <h3 class="cmp-accordion__header">
        <button id="accordion-2098845c33-item-ace86c638b-button" class="cmp-accordion__button cmp-accordion__button--expanded" aria-controls="accordion-2098845c33-item-ace86c638b-panel" data-cmp-hook-accordion="button">
          <span class="cmp-accordion__title">Item 1</span>
          <span class="cmp-accordion__icon"></span>
        </button>
      </h3>
      <div data-cmp-hook-accordion="panel" id="accordion-2098845c33-item-ace86c638b-panel" class="cmp-accordion__panel cmp-accordion__panel--expanded" role="region" aria-labelledby="accordion-2098845c33-item-ace86c638b-button" aria-hidden="false">
        <div class="text">
          <div data-cmp-data-layer="{&quot;text-ace86c638b&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}" id="text-ace86c638b" class="cmp-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-2098845c33-item-fa6a2b3734&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 2&quot;}}" id="accordion-2098845c33-item-fa6a2b3734">
      <h3 class="cmp-accordion__header">
        <button id="accordion-2098845c33-item-fa6a2b3734-button" class="cmp-accordion__button" aria-controls="accordion-2098845c33-item-fa6a2b3734-panel" data-cmp-hook-accordion="button">
          <span class="cmp-accordion__title">Item 2</span>
          <span class="cmp-accordion__icon"></span>
        </button>
      </h3>
      <div data-cmp-hook-accordion="panel" id="accordion-2098845c33-item-fa6a2b3734-panel" class="cmp-accordion__panel cmp-accordion__panel--hidden" role="region" aria-labelledby="accordion-2098845c33-item-fa6a2b3734-button" aria-hidden="true">
        <div class="text">
          <div data-cmp-data-layer="{&quot;text-fa6a2b3734&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Hac habitasse platea dictumst quisque sagittis purus. At risus viverra adipiscing at in tellus integer. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Leo vel orci porta non pulvinar neque laoreet suspendisse. Volutpat diam ut venenatis tellus in metus vulputate eu.</p>&quot;}}" id="text-fa6a2b3734" class="cmp-text">
            <p>Hac habitasse platea dictumst quisque sagittis purus. At risus viverra adipiscing at in tellus integer. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Leo vel orci porta non pulvinar neque laoreet suspendisse. Volutpat diam ut venenatis tellus in metus vulputate eu.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-2098845c33-item-48f2cb3a2e&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 3&quot;}}" id="accordion-2098845c33-item-48f2cb3a2e">
      <h3 class="cmp-accordion__header">
        <button id="accordion-2098845c33-item-48f2cb3a2e-button" class="cmp-accordion__button" aria-controls="accordion-2098845c33-item-48f2cb3a2e-panel" data-cmp-hook-accordion="button">
          <span class="cmp-accordion__title">Item 3</span>
          <span class="cmp-accordion__icon"></span>
        </button>
      </h3>
      <div data-cmp-hook-accordion="panel" id="accordion-2098845c33-item-48f2cb3a2e-panel" class="cmp-accordion__panel cmp-accordion__panel--hidden" role="region" aria-labelledby="accordion-2098845c33-item-48f2cb3a2e-button" aria-hidden="true">
        <div class="text">
          <div data-cmp-data-layer="{&quot;text-48f2cb3a2e&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Libero id faucibus nisl tincidunt eget nullam non nisi. Hac habitasse platea dictumst vestibulum. Viverra orci sagittis eu volutpat odio facilisis mauris. Velit aliquet sagittis id consectetur purus ut. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt.</p>&quot;}}" id="text-48f2cb3a2e" class="cmp-text">
            <p>Libero id faucibus nisl tincidunt eget nullam non nisi. Hac habitasse platea dictumst vestibulum. Viverra orci sagittis eu volutpat odio facilisis mauris. Velit aliquet sagittis id consectetur purus ut. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

