<button type="button" id="alert-trigger" data-component="alert">
  Trigger Alert
</button>
<div id="example" role="alert"></div>
<script type="text/template" id="alert-template">
  <p>Hello</p>
</script>