
.cardgroup {
    .teaser {
        padding: 10px;
        background-color: green;
    }

    @include media('>=tablet') {
        background: #ddc;
    }

    @include media('>=desktop') {
        
    }

    @include media('>=desktop-lg') {
        
    }

    @include media('>=desktop-xl') {
        
    }
}