<div class="cardgroup">
    <div class="aem-Grid aem-Grid--12">
        <div class="aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--phone--12 aem-GridColumn--tablet--6">
            {{>TeaserWithImage}}
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--phone--12 aem-GridColumn--tablet--6">
            {{>TeaserWithImage}}
        </div>
        <div class="aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--phone--12 aem-GridColumn--tablet--6">
            {{>TeaserWithImage}}
        </div>
    </div>
</div>