<div class="container responsivegrid">
  <div
    id="container-fae235e3dd"
    class="cmp-container"
    style="background-image:url(\2f content\2f dam\2f core-components-examples\2flibrary\2fsample-assets\2fsnowy-mountain-glacier.jpg);background-size:cover;background-repeat:no-repeat;"
  >
    <div class="title cmp-examples-title--background-color">
      <div
        data-cmp-data-layer="{&quot;title-53bcf42364&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/title&quot;,&quot;dc:title&quot;:&quot;Lorem Ipsum&quot;}}"
        id="title-53bcf42364"
        class="cmp-title"
      >
        <h3 class="cmp-title__text">Lorem Ipsum</h3>
      </div>
    </div>
    <div class="text cmp-examples-text--background-color">
      <div
        data-cmp-data-layer="{&quot;text-9a44be09eb&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}"
        id="text-9a44be09eb"
        class="cmp-text"
      >
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi
          bibendum neque egestas congue quisque egestas. Varius morbi enim nunc
          faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate
          sapien nec sagittis.</p>
      </div>
    </div>
  </div>
</div>