<div class="languagenavigation">
  <nav
    data-cmp-data-layer="{&quot;languagenavigation-40eb3d4ec3&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/languagenavigation&quot;}}"
    id="languagenavigation-40eb3d4ec3"
    class="cmp-languagenavigation"
  >
    <ul class="cmp-languagenavigation__group">
      <li
        class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-US cmp-languagenavigation__item--langcode-en-US cmp-languagenavigation__item--level-0 cmp-languagenavigation__item--active"
        data-cmp-data-layer="{&quot;languagenavigation-40eb3d4ec3-item-a04fa75dc3&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/languagenavigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;English&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html&quot;}}"
      >
        <a
          data-cmp-clickable=""
          class="cmp-languagenavigation__item-link"
          hreflang="en-US"
          lang="en-US"
          rel="alternate"
          href="/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/en/language-navigation.html"
        >English</a>
      </li>
      <li
        class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-ES cmp-languagenavigation__item--langcode-es-ES cmp-languagenavigation__item--level-0"
        data-cmp-data-layer="{&quot;languagenavigation-40eb3d4ec3-item-d9264ca485&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/languagenavigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Español&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/es/navegacion-por-idioma.html&quot;}}"
      >
        <a
          data-cmp-clickable=""
          class="cmp-languagenavigation__item-link"
          hreflang="es-ES"
          lang="es-ES"
          rel="alternate"
          href="/content/core-components-examples/library/core-structure/language-navigation/language-structure/us/es/navegacion-por-idioma.html"
        >Español</a>
      </li>
    </ul>
  </nav>
</div>