<p>Rank features important to you when choosing where to live. If a feature is unimportant, move it to the unimportant features list.</p>
<div class="cx-listbox-area" data-component="singleselectrearrangablelistbox">
  <div class="cx-left-area">
    <span id="cx-ss_imp_l" class="cx-listbox-label">Important Features:</span>
    <ul id="cx-ss_imp_list" tabindex="0" role="listbox" aria-labelledby="ss_imp_l">
      <li id="cx-ss_opt1" role="option">Proximity of public K-12 schools</li>
      <li id="cx-ss_opt2" role="option">Proximity of child-friendly parks</li>
      <li id="cx-ss_opt3" role="option">Proximity of grocery shopping</li>
      <li id="cx-ss_opt4" role="option">Proximity of fast food</li>
      <li id="cx-ss_opt5" role="option">Proximity of fine dining</li>
      <li id="cx-ss_opt6" role="option">Neighborhood walkability</li>
      <li id="cx-ss_opt7" role="option">Availability of public transit</li>
      <li id="cx-ss_opt8" role="option">Proximity of hospital and medical services</li>
      <li id="cx-ss_opt9" role="option">Level of traffic noise</li>
      <li id="cx-ss_opt10" role="option">Access to major highways</li>
    </ul>
    <div role="toolbar" aria-label="Actions" class="cx-toolbar">
      <button type="button" id="cx-ex1-up" class="cx-toolbar-item selected" aria-keyshortcuts="Alt+ArrowUp" aria-disabled="true">Up</button>
      <button type="button" id="cx-ex1-down" class="cx-toolbar-item" tabindex="-1" aria-keyshortcuts="Alt+ArrowDown" aria-disabled="true">Down</button>
      <button type="button" id="cx-ex1-delete" class="cx-toolbar-item move-right-btn" tabindex="-1" aria-keyshortcuts="Alt+ArrowRight Delete" aria-disabled="true">Not Important</button>
    </div>
  </div>
  <div class="cx-right-area">
    <span id="cx-ss_unimp_l" class="cx-listbox-label">Unimportant Features:</span>
    <ul id="cx-ss_unimp_list" tabindex="0" role="listbox" aria-labelledby="ss_unimp_l" aria-activedescendant="">
    </ul>
    <button type="button" id="cx-ex1-add" class="cx-move-left-btn" aria-keyshortcuts="Alt+ArrowLeft Enter" aria-disabled="true">Important</button>
  </div>
  <div class="cx-offscreen">Last change: <span aria-live="polite" id="cx-ss_live_region"></span></div>
</div>
      