<div id="id-rating-label" class="label" data-component="slider-rating">Rating</div>

<div id="id-rating" class="rating-slider" role="slider" tabindex="0" aria-valuemin="0" aria-valuenow="0" aria-valuemax="5" aria-valuetext="no stars" aria-labelledby="id-rating-label">

  

  <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="224" height="48">
    <defs>
      <g id="star">
        <polygon points="2.0,13.4 11.7,20.5 8.0,31.1 17.7,24.8 27.4,31.9 23.7,20.5 33.4,13.4 21.4,13.4 17.7,2.0 14.0,13.4"></polygon>
      </g>
      <g id="fill-left">
        <polygon points="2.0,13.4 11.7,20.5 8.0,31.1 17.7,24.8 17.7,2.0 14.0,13.4"></polygon>
      </g>
    </defs>
    <rect class="focus-ring" x="2" y="2" width="212" height="44" rx="5"></rect>
    <g class="star-1 star-2 star-3 star-4 star-5">
      <use class="star" xlink:href="#star" x="10" y="7"></use>
      <use class="fill-left" xlink:href="#fill-left" x="10" y="7"></use>
    </g>
    <g class="star-2 star-3 star-4 star-5">
      <use class="star" xlink:href="#star" x="50" y="7"></use>
      <use class="fill-left" xlink:href="#fill-left" x="50" y="7"></use>
    </g>
    <g class="star-3 star-4 star-5">
      <use class="star" xlink:href="#star" x="90" y="7"></use>
      <use class="fill-left" xlink:href="#fill-left" x="90" y="7"></use>
    </g>
    <g class="star-4 star-5">
      <use class="star" xlink:href="#star" x="130" y="7"></use>
      <use class="fill-left" xlink:href="#fill-left" x="130" y="7"></use>
    </g>
    <g class="star-5">
      <use class="star" xlink:href="#star" x="170" y="7"></use>
      <use class="fill-left" xlink:href="#fill-left" x="170" y="7"></use>
    </g>
  </svg>
</div>