<div class="teaser">
  <div
    id="teaser-3a8e3acfdb"
    class="cmp-teaser"
    data-cmp-data-layer="{&quot;teaser-3a8e3acfdb&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/teaser&quot;,&quot;dc:title&quot;:&quot;Teaser Title&quot;,&quot;dc:description&quot;:&quot;<p>Teaser Description</p>&quot;}}"
  >
    <div class="cmp-teaser__content">
      <h2 class="cmp-teaser__title"> Teaser Title </h2>
      <div class="cmp-teaser__description">
        <p>Teaser Description</p>
      </div>
      <div class="cmp-teaser__action-container">
        <a
          class="cmp-teaser__action-link"
          id="teaser-3a8e3acfdb-cta-641eff4586"
          data-cmp-data-layer="{&quot;teaser-3a8e3acfdb-cta-641eff4586&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/teaser/cta&quot;,&quot;dc:title&quot;:&quot;Call To Action&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.aemcomponents.dev/content/core-components-examples/library/core-content/teaser.html&quot;}}"
          data-cmp-clickable=""
          href="https://www.aemcomponents.dev/content/core-components-examples/library/core-content/teaser.html"
        >Call To Action</a>
      </div>
    </div>
    <div class="cmp-teaser__image">
      <div
        data-asset-id="c0a39183-23f4-48f0-8db7-bb41ba2b0122"
        id="image-3a8e3acfdb"
        data-cmp-data-layer="{&quot;image-3a8e3acfdb&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;dc:title&quot;:&quot;Aerial photo of mountain range&quot;,&quot;xdm:linkURL&quot;:&quot;https://www.aemcomponents.dev/content/core-components-examples/library/core-content/teaser.html&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;c0a39183-23f4-48f0-8db7-bb41ba2b0122&quot;,&quot;repo:modifyDate&quot;:&quot;1970-01-01T00:00:00Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;https://www.aemcomponents.dev/content/dam/core-components-examples/library/sample-assets/mountain-range.jpg&quot;}}}"
        class="cmp-image"
        itemscope=""
        itemtype="http://schema.org/ImageObject"
      >
        <img
          srcset="https://www.aemcomponents.dev/content/core-components-examples/library/core-content/teaser/_jcr_content/root/responsivegrid/demo_1878698139/component/teaser.coreimg.82.600.jpeg 600w,https://www.aemcomponents.dev/content/core-components-examples/library/core-content/teaser/_jcr_content/root/responsivegrid/demo_1878698139/component/teaser.coreimg.82.800.jpeg 800w,https://www.aemcomponents.dev/content/core-components-examples/library/core-content/teaser/_jcr_content/root/responsivegrid/demo_1878698139/component/teaser.coreimg.82.1000.jpeg 1000w,https://www.aemcomponents.dev/content/core-components-examples/library/core-content/teaser/_jcr_content/root/responsivegrid/demo_1878698139/component/teaser.coreimg.82.1200.jpeg 1200w,https://www.aemcomponents.dev/content/core-components-examples/library/core-content/teaser/_jcr_content/root/responsivegrid/demo_1878698139/component/teaser.coreimg.82.1600.jpeg 1600w"
          src="https://www.aemcomponents.dev/content/core-components-examples/library/core-content/teaser/_jcr_content/root/responsivegrid/demo_1878698139/component/teaser.coreimg.jpeg"
          loading="lazy"
          class="cmp-image__image"
          itemprop="contentUrl"
          width="850"
          height="509"
          alt="Aerial photo of mountain range"
          title="Aerial photo of mountain range"
        />
        <meta itemprop="caption" content="Aerial photo of mountain range" />
      </div>
    </div>
  </div>
</div>