<div class="title">
  <div
    data-cmp-data-layer="{&quot;title-c6fe1860ab&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/title&quot;,&quot;dc:title&quot;:&quot;Title&quot;}}"
    id="title-c6fe1860ab"
    class="cmp-title"
  >
    <h1 class="cmp-title__text">Title</h1>
  </div>
</div>