<fieldset class="checkbox-mixed cx-checkbox-mixed">
  <legend>Sandwich Condiments</legend>
  <div
    role="checkbox"
    class="group_checkbox cx-group_checkbox"
    aria-checked="mixed"
    aria-controls="cond1 cond2 cond3 cond4"
    tabindex="0"
  >
    All condiments
  </div>
  <ul class="checkboxes cx-checkboxes">
    <li><label><input type="checkbox" id="cond1" />Lettuce</label></li>
    <li><label><input
          type="checkbox"
          id="cond2"
          checked=""
        />Tomato</label></li>
    <li><label><input type="checkbox" id="cond3" />Mustard</label></li>
    <li><label><input type="checkbox" id="cond4" />Sprouts</label></li>
  </ul>
</fieldset>