<h3 id="id-group-label">Sandwich Condiments</h3>
<div role="group" aria-labelledby="id-group-label" data-component="checkbox">
  <ul class="checkboxes cx-checkboxes">
    <li><div
        role="checkbox"
        aria-checked="false"
        tabindex="0"
      >Lettuce</div></li>
    <li><div role="checkbox" aria-checked="true" tabindex="0">Tomato</div></li>
    <li><div
        role="checkbox"
        aria-checked="false"
        tabindex="0"
      >Mustard</div></li>
    <li><div
        role="checkbox"
        aria-checked="false"
        tabindex="0"
      >Sprouts</div></li>
  </ul>
</div>