<div class="cx-recipient-list">
  <span id="cx-send_to_label">Send To:</span>
  <div
    id="cx-ex2-grid"
    role="grid"
    class="cx-pill-list"
    aria-labelledby="send_to_label"
    data-wrap-cols="true"
    data-component="pill-list"
  >
    <div role="row" class="cx-pill-item" data-id="1">
      <span role="gridcell"><a
          id="cx-r1"
          class="cx-pill-name"
          tabindex="-1"
          href="#"
        >Recipient Name 1</a></span>
      <span role="gridcell"><span
          id="cx-rb1"
          class="cx-pill-remove"
          tabindex="-1"
          role="button"
          aria-label="Remove"
          aria-labelledby="rb1 r1"
        > X </span></span>
    </div>
    <div role="row" class="cx-pill-item" data-id="2">
      <span role="gridcell"><a
          id="cx-r2"
          class="cx-pill-name"
          tabindex="-1"
          href="#"
        >Recipient Name 2</a></span>
      <span role="gridcell"><span
          id="cx-rb2"
          class="cx-pill-remove"
          tabindex="-1"
          role="button"
          aria-label="Remove"
          aria-labelledby="rb2 r2"
        > X </span></span>
    </div>
  </div>

  <div id="cx-recipient-form">
    <input
      id="cx-add-recipient-input"
      type="text"
      aria-label="Add Recipient"
      placeholder="New Recipient Name"
    />
    <button type="button" id="cx-add-recipient-button">Add</button>
    <div class="cx-accessible_elem">
      Last change to recipient list:
      <span
        aria-live="polite"
        aria-relevant="text"
        id="cx-form-action-text"
      ></span>
    </div>
  </div>
</div>