<div class="breadcrumb">
  <nav id="breadcrumb-bf51ca10c8" class="cmp-breadcrumb" aria-label="Breadcrumb" data-cmp-data-layer="{&quot;breadcrumb-bf51ca10c8&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb&quot;}}">
    <ol class="cmp-breadcrumb__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-bf51ca10c8-item-3a0f66ac7b&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="" href="/content/core-components-examples/library.html">
          <span itemprop="name">Component Library</span>
        </a>
        <meta itemprop="position" content="1">
      </li>
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-bf51ca10c8-item-7080538dd6&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="" href="/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2/breadcrumb.html">
          <span itemprop="name">Breadcrumb</span>
        </a>
        <meta itemprop="position" content="2">
      </li>
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-bf51ca10c8-item-2ae1704812&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Level 1&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="" href="/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1.html">
          <span itemprop="name">Level 1</span>
        </a>
        <meta itemprop="position" content="3">
      </li>
      <li class="cmp-breadcrumb__item" data-cmp-data-layer="{&quot;breadcrumb-bf51ca10c8-item-17eadd49ba&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/breadcrumb/item&quot;,&quot;repo:modifyDate&quot;:&quot;2022-03-08T10:11:15Z&quot;,&quot;dc:title&quot;:&quot;Level 2&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2.html&quot;}}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a class="cmp-breadcrumb__item-link" itemprop="item" data-cmp-clickable="" href="/content/core-components-examples/library/core-structure/breadcrumb/hidden/level-1/level-2.html">
          <span itemprop="name">Level 2</span>
        </a>
        <meta itemprop="position" content="4">
      </li>
    </ol>
  </nav>
</div>

