<div>
  <p>
    This
    <q>
      Print
    </q>
    action button uses a
    <code>
      div
    </code>
    element.
  </p>
  <div tabindex="0" role="button" id="action">
    Print Page
  </div>
  <p>
    This
    <q>
      Mute
    </q>
    toggle button uses an
    <code>
      a
    </code>
    element.
  </p>
  <a tabindex="0" role="button" id="toggle" aria-pressed="false">
    Mute
    <svg aria-hidden="true" focusable="false">
      <use xlink:href="#icon-sound"></use>
    </svg>
  </a>
</div>