.cx-hidden {
	display: none !important;
}
#cx-arrow-keys-indicator {
	bottom: 10px;
	left: 0;
	position: fixed;
	height: 65px;
	width: 85px;
	//background: url("../imgs/black_keys.png") no-repeat;
	background-size: contain;
}
.cx-accessible_elem {
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
.cx-list-links {
	font-size: 0;
}
.cx-list-link {
	background: #eee;
	border: 1px solid #bbb;
	display: inline-block;
	font-size: 14px;
	height: 40px;
	margin: 5px 0 0;
	padding: 5px;
	position: relative;
	vertical-align: middle;
	width: 120px;
}
[role="gridcell"] {
	display: inline-block;
	position: relative;
	[tabindex] {
		display: inline-block;
		position: relative;
	}
	&:focus {
		outline: #005a9c;
		outline-style: dotted;
		outline-width: 3px;
	}
	* {
		&:focus {
			outline: #005a9c;
			outline-style: dotted;
			outline-width: 3px;
		}
	}
}
.cx-grid-nux {
	background: #eaf9ef;
	position: absolute;
	max-width: 500px;
	border: 1px solid #bbb;
	padding: 0 15px 20px;
	margin-top: 20px;
	box-shadow: 2px 2px 3px rgb(0 0 0 / 30%);
	&::after {
		bottom: 100%;
		left: 20px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgb(136 183 213 / 0%);
		border-bottom-color: #eaf9ef;
		border-width: 10px;
		margin-left: -10px;
	}
	&::before {
		bottom: 100%;
		left: 20px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgb(194 225 245 / 0%);
		border-bottom-color: #bbb;
		border-width: 11px;
		margin-left: -11px;
	}
}
.cx-grid-nux-header {
	font-weight: bold;
}
.cx-indicator_graphic {
	float: right;
	margin-left: 10px;
}
.cx-close-nux-button {
	color: #360;
	cursor: default;
	position: absolute;
	right: 10px;
	bottom: 10px;
	text-decoration: underline;
}
.cx-recipient-list {
	background: #eee;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	padding: 5px 15px;
	position: relative;
}
#cx-send_to_label {
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	top: 1.2em;
}
.cx-pill-list {
	background: white;
	border: 1px solid #ccc;
	font-size: 0;
	margin-bottom: 5px;
	margin-left: 65px;
	min-height: 31px;
	padding: 0 5px 5px;
}
.cx-pill-item {
	background: #eee;
	border: 1px solid #3a69b6;
	border-radius: 2px;
	color: #3a69b6;
	display: inline-block;
	font-size: 14px;
	margin: 5px 5px 0 0;
	padding: 0.3em;
}
.cx-pill-name {
	text-decoration: none;
}
.cx-pill-remove {
	cursor: default;
	margin-left: 10px;
}
#cx-recipient-form {
	margin-left: 65px;
}
#cx-add-recipient-input {
	font-size: 14px;
}
.cx-ex3_result_header {
	margin: 0;
	font-style: normal;
	font-weight: bold;
}
.cx-ex3_result_indices {
	margin-bottom: 40px;
}
.cx-ex3_pagination {
	margin-top: 40px;
	text-align: center;
}
@media screen and (max-width: 1000px) {
	#cx-arrow-keys-indicator {
		display: none;
	}
	.cx-indicator_description {
		display: none;
	}
}
