<label for="ex1-input" id="ex1-label" class="combobox-label" data-component="combobox-grid-popup">
  Fruits and vegetables
</label>
<div class="combobox-wrapper" data-component="combobox-grid-popup">
  <div id="ex1-combobox">
    <input type="text" role="combobox" aria-haspopup="grid" aria-expanded="false" aria-autocomplete="list" aria-controls="ex1-grid" id="ex1-input">
  </div>
  <div aria-labelledby="ex1-label" role="grid" id="ex1-grid" class="grid hidden">
  </div>
</div>