<footer class="footer {{#if variation}}footer--{{variation}}{{/if}}" data-component="footer">
    <div class="container">
		<!--Footer Main-->
		<span>{{copy}}</span>
		<span>{{content}}</span>
	</div>
</footer>