<div class="contentfragment">
  <article
    id="contentfragment-b4a3d157f0"
    class="cmp-contentfragment cmp-contentfragment--simple-fragment"
    data-cmp-contentfragment-model="/content/dam/core-components-examples/library/sample-assets/simple-fragment/jcr:content/model"
    data-cmp-data-layer="{&quot;contentfragment-b4a3d157f0&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/contentfragment&quot;,&quot;dc:title&quot;:&quot;Simple Fragment&quot;,&quot;elements&quot;:[{&quot;xdm:text&quot;:&quot;<h4>Lorem Ipsum</h4>\n<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>\n&quot;,&quot;xdm:title&quot;:&quot;Main&quot;}]}}"
    data-cmp-contentfragment-path="/content/dam/core-components-examples/library/sample-assets/simple-fragment"
  >
    <h3 class="cmp-contentfragment__title">Simple Fragment</h3>
    <dl class="cmp-contentfragment__elements">
      <div
        class="cmp-contentfragment__element cmp-contentfragment__element--main"
        data-cmp-contentfragment-element-type="string"
      >
        <dt class="cmp-contentfragment__element-title">Main</dt>
        <dd class="cmp-contentfragment__element-value">
          <h4>Lorem Ipsum</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </dd>
      </div>
    </dl>
  </article>
</div>