<h4 id="ex3_search_results_label">Search Results for "W3C WAI-ARIA"</h4>
<div class="ex3_result_indices">
  Showing results
  <span id="ex3_start_index">1</span>
  to
  <span id="ex3_end_index">5</span>
  of 19
</div>

<div
  id="ex3-grid"
  role="grid"
  aria-labelledby="ex3_search_results_label"
  aria-rowcount="19"
  data-per-page="5"
  data-wrap-cols="true"
>
  <div role="row">
    <div role="gridcell"><h5 class="ex3_result_header">
        <a tabindex="-1" href="https://www.w3.org/WAI/intro/aria">WAI-ARIA
          Overview Web Accessibility Initiative W3C</a>
      </h5></div>
    <span tabindex="-1" role="gridcell">World Wide Web Consortium</span>
    <span tabindex="-1" role="gridcell">WAI-ARIA, the Accessible Rich Internet
      Applications Suite, defines a way to make Web content and Web applications
      more accessible to people with disabilities.</span>
  </div>
  <div role="row">
    <div role="gridcell"><h5 class="ex3_result_header">
        <a
          tabindex="-1"
          href="https://www.w3.org/TR/wai-aria-1.0/states_and_properties"
        >ARIA States and Properties - W3C</a>
      </h5></div>
    <span tabindex="-1" role="gridcell">World Wide Web Consortium</span>
    <span tabindex="-1" role="gridcell">In this document, states and properties
      are both treated as aria-prefixed markup attributes. However, they are
      maintained conceptually distinct to clarify subtle&nbsp;...</span>
  </div>
  <div role="row">
    <div role="gridcell"><h5 class="ex3_result_header">
        <a tabindex="-1" href="https://www.w3.org/TR/wai-aria/">Accessible Rich
          Internet Applications (WAI-ARIA) 1.0 - W3C</a>
      </h5></div>
    <span tabindex="-1" role="gridcell">World Wide Web Consortium</span>
    <span tabindex="-1" role="gridcell">Mar 20, 2014 - This is the WAI-ARIA 1.0
      W3C Recommendation from the Protocols &amp; Formats Working Group of the
      Web Accessibility Initiative. The Working&nbsp;...</span>
  </div>
  <div role="row">
    <div role="gridcell"><h5 class="ex3_result_header">
        <a tabindex="-1" href="https://www.w3.org/WAI/ARIA/">Accessible Rich
          Internet Applications (ARIA) Working Group - W3C</a>
      </h5></div>
    <span tabindex="-1" role="gridcell">World Wide Web Consortium</span>
    <span tabindex="-1" role="gridcell">The mission of the Accessible Rich
      Internet Applications Working Group (ARIA WG) is to develop technologies
      that enhance accessibility of web content for&nbsp;...</span>
  </div>
  <div role="row">
    <div role="gridcell"><h5 class="ex3_result_header">
        <a tabindex="-1" href="https://www.w3.org/TR/wai-aria-1.1/">Accessible
          Rich Internet Applications (WAI-ARIA) 1.1 - W3C</a>
      </h5></div>
    <span tabindex="-1" role="gridcell">World Wide Web Consortium</span>
    <span tabindex="-1" role="gridcell">Jul 21, 2016 - This version of ARIA 1.1
      changes the aria-kbdshortcuts property to aria-keyshortcuts , expands
      roles that can be used in comboboxes, adds a&nbsp;...</span>
  </div>
  <div role="row">
    <div role="gridcell"><h5 class="ex3_result_header">
        <a tabindex="-1" href="https://www.w3.org/TR/wai-aria-1.0/roles">The
          Roles Model | Accessible Rich Internet Applications (WAI-ARIA) 1.0</a>
      </h5></div>
    <span tabindex="-1" role="gridcell">World Wide Web Consortium</span>
    <span tabindex="-1" role="gridcell">This section defines the WAI-ARIA role
      taxonomy and describes the characteristics and properties of all roles. A
      formal RDF / OWL representation of all the&nbsp;...</span>
  </div>
  <div role="row">
    <div role="gridcell"><h5 class="ex3_result_header">
        <a
          tabindex="-1"
          href="https://www.w3.org/TR/wai-aria-practices-1.1/"
        >WAI-ARIA Authoring Practices 1.1 - W3C</a>
      </h5></div>
    <span tabindex="-1" role="gridcell">World Wide Web Consortium</span>
    <span tabindex="-1" role="gridcell">Mar 17, 2016 - The WAI-ARIA Authoring
      Practices Guide is intended to provide an understanding of how to use
      WAI-ARIA to create an accessible Rich Internet&nbsp;...</span>
  </div>
  <div role="row">
    <div role="gridcell"><h5 class="ex3_result_header">
        <a tabindex="-1" href="https://www.w3.org/TR/html-aria/">ARIA in HTML -
          W3C</a>
      </h5></div>
    <span tabindex="-1" role="gridcell">World Wide Web Consortium</span>
    <span tabindex="-1" role="gridcell">Oct 5, 2016 - ARIA in HTML is a [ HTML51
      ] specification module. Any HTML features, conformance requirements, or
      terms that this specification module&nbsp;...</span>
  </div>
  <div role="row">
    <div role="gridcell"><h5 class="ex3_result_header">
        <a tabindex="-1" href="https://www.w3.org/TR/html-aria/">ARIA in HTML</a>
      </h5></div>
    <span tabindex="-1" role="gridcell">World Wide Web Consortium</span>
    <span tabindex="-1" role="gridcell">Jul 24, 2015 - Setting an ARIA role
      and/or aria-* attribute that matches the default implicit ARIA semantics
      is unnecessary and is NOT RECOMMENDED as&nbsp;...</span>
  </div>
  <div role="row">
    <div role="gridcell"><h5 class="ex3_result_header">
        <a tabindex="-1" href="https://www.w3.org/WAI/ARIA/faq">Accessible Rich
          Internet Applications (ARIA) Working Group - W3C</a>
      </h5></div>
    <span tabindex="-1" role="gridcell">World Wide Web Consortium</span>
    <span tabindex="-1" role="gridcell">Here are answers to some frequently
      asked questions (FAQ) about WAI-ARIA, the Accessible Rich Internet
      Applications Suite. When we add significant&nbsp;...</span>
  </div>
  <div role="row">
    <div role="gridcell"><h5 class="ex3_result_header">
        <a
          tabindex="-1"
          href="https://www.w3.org/TR/wai-aria-implementation/"
        >WAI-ARIA 1.0 User Agent Implementation Guide - W3C</a>
      </h5></div>
    <span tabindex="-1" role="gridcell">World Wide Web Consortium</span>
    <span tabindex="-1" role="gridcell">WAI-ARIA enables rich Internet
      applications to have the same accessibility features as desktop GUI
      applications by adding metadata to markup technologies&nbsp;...</span>
  </div>
  <div role="row">
    <div role="gridcell"><h5 class="ex3_result_header">
        <a
          tabindex="-1"
          href="https://w3c.github.io/html-reference/aria/aria.html"
        >ARIA - HTML5 - W3C on GitHub</a>
      </h5></div>
    <span tabindex="-1" role="gridcell">World Wide Web Consortium</span>
    <span tabindex="-1" role="gridcell">Alertdialog #. aria.alertdialog =
      role="" alertdialog "" intermixed with an optional aria-expanded element.
      Application #. aria.application = role="" application&nbsp;...</span>
  </div>
  <div role="row">
    <div role="gridcell"><h5 class="ex3_result_header">
        <a
          tabindex="-1"
          href="https://www.w3.org/WAI/PF/aria-practices/"
        >WAI-ARIA 1.0 Authoring Practices - W3C</a>
      </h5></div>
    <span tabindex="-1" role="gridcell">World Wide Web Consortium</span>
    <span tabindex="-1" role="gridcell">Abstract. This document provided readers
      with an understanding of how to use WAI-ARIA [ ARIA ] to create accessible
      rich internet applications. It described&nbsp;...</span>
  </div>
  <div role="row">
    <div role="gridcell"><h5 class="ex3_result_header">
        <a tabindex="-1" href="https://www.w3.org/TR/aria-in-html/">Notes on
          Using ARIA in HTML - W3C</a>
      </h5></div>
    <span tabindex="-1" role="gridcell">World Wide Web Consortium</span>
    <span tabindex="-1" role="gridcell">May 21, 2015 - This document
      demonstrates how to use WAI-ARIA in [ HTML51 ], which especially helps
      with dynamic content and advanced user interface&nbsp;...</span>
  </div>
  <div role="row">
    <div role="gridcell"><h5 class="ex3_result_header">
        <a
          tabindex="-1"
          href="https://www.w3.org/standards/techs/aria"
        >Accessible Rich Internet Applications (WAI-ARIA) Current Status - W3C</a>
      </h5></div>
    <span tabindex="-1" role="gridcell">World Wide Web Consortium</span>
    <span tabindex="-1" role="gridcell">Accessible Rich Internet Applications
      (WAI-ARIA) 1.0. Accessibility of Web content to people with disabilities
      requires semantic information about widgets,&nbsp;...</span>
  </div>
  <div role="row">
    <div role="gridcell"><h5 class="ex3_result_header">
        <a tabindex="-1" href="https://www.w3.org/WAI/PF/aria/">Accessible Rich
          Internet Applications (WAI-ARIA) 1.0 - W3C</a>
      </h5></div>
    <span tabindex="-1" role="gridcell">World Wide Web Consortium</span>
    <span tabindex="-1" role="gridcell">Feb 3, 2014 - This version:
      http://www.w3.org/WAI/PF/aria/; Previous editors' draft: ... This document
      is part of the WAI-ARIA suite described in the WAI-ARIA&nbsp;...</span>
  </div>
  <div role="row">
    <div role="gridcell"><h5 class="ex3_result_header">
        <a
          tabindex="-1"
          href="https://www.w3.org/TR/wai-aria-1.0/introduction"
        >Introduction | Accessible Rich Internet Applications (WAI-ARIA) 1.0</a>
      </h5></div>
    <span tabindex="-1" role="gridcell">World Wide Web Consortium</span>
    <span tabindex="-1" role="gridcell">WAI-ARIA is a technical specification
      that provides a framework to improve the accessibility and
      interoperability of web content and applications. This document&nbsp;...</span>
  </div>
  <div role="row">
    <div role="gridcell"><h5 class="ex3_result_header">
        <a tabindex="-1" href="https://www.w3.org/TR/wai-aria-1.0/usage">Using
          WAI-ARIA | Accessible Rich Internet Applications (WAI-ARIA) 1.0</a>
      </h5></div>
    <span tabindex="-1" role="gridcell">World Wide Web Consortium</span>
    <span tabindex="-1" role="gridcell">WAI-ARIA divides the semantics into
      roles (the type defining a user interface element) and states and
      properties supported by the roles. Authors need to&nbsp;...</span>
  </div>
  <div role="row">
    <div role="gridcell"><h5 class="ex3_result_header">
        <a
          tabindex="-1"
          href="https://www.w3.org/TR/WCAG20-TECHS/aria#ARIA11"
        >Using ARIA landmarks to identify regions of a page - WCAG WG - W3C</a>
      </h5></div>
    <span tabindex="-1" role="gridcell">World Wide Web Consortium</span>
    <span tabindex="-1" role="gridcell">Jan 3, 2014 - NVDA 2 supports all
      landmarks except it will not support navigation to “application”; Window
      Eyes as of V.7 does not support ARIA landmarks.</span>
  </div>
</div>

<div class="ex3_pagination">
  <button type="button" disabled="" id="ex3_pageup_button">Previous</button>
  <button type="button" id="ex3_pagedown_button">Next</button>
</div>