<div class="listbox-area">
  <div>
    <span id="ss_elem" class="listbox-label">Choose your animal sidekick</span>
    <div id="ss_elem_list" tabindex="0" role="listbox" aria-labelledby="ss_elem">
      <ul role="group" aria-labelledby="cat1">
        <li role="presentation" id="cat1">Land</li>
        <li id="ss_elem_1" role="option">Cat</li>
        <li id="ss_elem_2" role="option">Dog</li>
        <li id="ss_elem_3" role="option">Tiger</li>
        <li id="ss_elem_4" role="option">Reindeer</li>
        <li id="ss_elem_5" role="option">Raccoon</li>
      </ul>
      <ul role="group" aria-labelledby="cat2">
        <li role="presentation" id="cat2">Water</li>
        <li id="ss_elem_6" role="option">Dolphin</li>
        <li id="ss_elem_7" role="option">Flounder</li>
        <li id="ss_elem_8" role="option">Eel</li>
      </ul>
      <ul role="group" aria-labelledby="cat3">
        <li role="presentation" id="cat3">Air</li>
        <li id="ss_elem_9" role="option">Falcon</li>
        <li id="ss_elem_10" role="option">Winged Horse</li>
        <li id="ss_elem_11" role="option">Owl</li>
      </ul>
    </div>
  </div>
</div>
    