<div class="image">
  <div
    data-asset-id="bf8419f0-1d78-4ce8-9af8-80d3ea45da26"
    id="image-777c52be2d"
    data-cmp-data-layer="{&quot;image-777c52be2d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;dc:title&quot;:&quot;Component&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;bf8419f0-1d78-4ce8-9af8-80d3ea45da26&quot;,&quot;repo:modifyDate&quot;:&quot;1970-01-01T00:00:00Z&quot;,&quot;@type&quot;:&quot;image/svg+xml&quot;,&quot;repo:path&quot;:&quot;https://www.aemcomponents.dev/content/dam/core-components-examples/library/components/component.svg&quot;}}}"
    class="cmp-image"
    itemscope=""
    itemtype="http://schema.org/ImageObject"
  >
    <img
      src="https://www.aemcomponents.dev/content/core-components-examples/library/core-content/image/_jcr_content/root/responsivegrid/demo/component/image.coreimg.svg"
      loading="lazy"
      class="cmp-image__image"
      itemprop="contentUrl"
      alt="Component"
      title="Component"
    />
    <meta itemprop="caption" content="Component" />
  </div>
</div>