<div class="accordion panelcontainer">
  <div id="accordion-ac9e5b384e" data-cmp-is="accordion" class="cmp-accordion" data-cmp-data-layer="{&quot;accordion-ac9e5b384e&quot;:{&quot;shownItems&quot;:[],&quot;@type&quot;:&quot;core-components-examples/components/accordion&quot;}}" data-placeholder-text="false">
    <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-ac9e5b384e-item-d68757bbf0&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 1&quot;}}" id="accordion-ac9e5b384e-item-d68757bbf0">
      <h3 class="cmp-accordion__header">
        <button id="accordion-ac9e5b384e-item-d68757bbf0-button" class="cmp-accordion__button" aria-controls="accordion-ac9e5b384e-item-d68757bbf0-panel" data-cmp-hook-accordion="button">
          <span class="cmp-accordion__title">Item 1</span>
          <span class="cmp-accordion__icon"></span>
        </button>
      </h3>
      <div data-cmp-hook-accordion="panel" id="accordion-ac9e5b384e-item-d68757bbf0-panel" class="cmp-accordion__panel cmp-accordion__panel--hidden" role="region" aria-labelledby="accordion-ac9e5b384e-item-d68757bbf0-button" aria-hidden="true">
        <div class="responsivegrid">
          <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
            <div class="image aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0">
              <div data-cmp-is="image" data-cmp-lazy="" data-cmp-lazythreshold="0" data-cmp-src="/content/core-components-examples/library/core-content/accordion/_jcr_content/root/responsivegrid/demo_397543166/component/accordion/item_617130698/image.coreimg.82{.width}.jpeg" data-cmp-widths="600,800,1000,1200,1600" data-asset="/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg" data-asset-id="0f54e1b5-535b-45f7-a46b-35abb19dd6bc" data-title="Lava flowing into the ocean" id="image-4943a4f99e" data-cmp-data-layer="{&quot;image-4943a4f99e&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;dc:title&quot;:&quot;Lava flowing into the ocean&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;0f54e1b5-535b-45f7-a46b-35abb19dd6bc&quot;,&quot;repo:modifyDate&quot;:&quot;1970-01-01T00:00:00Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg&quot;}}}" class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
                <noscript data-cmp-hook-image="noscript"> &lt;img src="/content/core-components-examples/library/core-content/accordion/_jcr_content/root/responsivegrid/demo_397543166/component/accordion/item_617130698/image.coreimg.jpeg" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" alt="Lava flowing into the ocean" title="Lava flowing into the ocean"/&gt; </noscript>
                <meta itemprop="caption" content="Lava flowing into the ocean">
              </div>
            </div>
            <div class="text aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0">
              <div data-cmp-data-layer="{&quot;text-cc02dda1fd&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}" id="text-cc02dda1fd" class="cmp-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-ac9e5b384e-item-b58fbe1fec&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 2&quot;}}" id="accordion-ac9e5b384e-item-b58fbe1fec">
      <h3 class="cmp-accordion__header">
        <button id="accordion-ac9e5b384e-item-b58fbe1fec-button" class="cmp-accordion__button" aria-controls="accordion-ac9e5b384e-item-b58fbe1fec-panel" data-cmp-hook-accordion="button">
          <span class="cmp-accordion__title">Item 2</span>
          <span class="cmp-accordion__icon"></span>
        </button>
      </h3>
      <div data-cmp-hook-accordion="panel" id="accordion-ac9e5b384e-item-b58fbe1fec-panel" class="cmp-accordion__panel cmp-accordion__panel--hidden" role="region" aria-labelledby="accordion-ac9e5b384e-item-b58fbe1fec-button" aria-hidden="true">
        <div class="responsivegrid">
          <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
            <div class="image aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0">
              <div data-cmp-is="image" data-cmp-lazy="" data-cmp-lazythreshold="0" data-cmp-src="/content/core-components-examples/library/core-content/accordion/_jcr_content/root/responsivegrid/demo_397543166/component/accordion/item_779036566/image.coreimg.82{.width}.jpeg" data-cmp-widths="600,800,1000,1200,1600" data-asset="/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg" data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7" data-title="Snowy mountain glacier" id="image-677ba63d05" data-cmp-data-layer="{&quot;image-677ba63d05&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;dc:title&quot;:&quot;Snowy mountain glacier&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;45c6ee92-90e1-4af2-af69-b6dcbc7daeb7&quot;,&quot;repo:modifyDate&quot;:&quot;1970-01-01T00:00:00Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg&quot;}}}" class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
                <noscript data-cmp-hook-image="noscript"> &lt;img src="/content/core-components-examples/library/core-content/accordion/_jcr_content/root/responsivegrid/demo_397543166/component/accordion/item_779036566/image.coreimg.jpeg" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" alt="Snowy mountain glacier" title="Snowy mountain glacier"/&gt; </noscript>
                <meta itemprop="caption" content="Snowy mountain glacier">
              </div>
            </div>
            <div class="text aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0">
              <div data-cmp-data-layer="{&quot;text-f9823ecaeb&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Hac habitasse platea dictumst quisque sagittis purus. At risus viverra adipiscing at in tellus integer. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Leo vel orci porta non pulvinar neque laoreet suspendisse. Volutpat diam ut venenatis tellus in metus vulputate eu.</p>&quot;}}" id="text-f9823ecaeb" class="cmp-text">
                <p>Hac habitasse platea dictumst quisque sagittis purus. At risus viverra adipiscing at in tellus integer. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Leo vel orci porta non pulvinar neque laoreet suspendisse. Volutpat diam ut venenatis tellus in metus vulputate eu.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-ac9e5b384e-item-4c19aed952&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 3&quot;}}" id="accordion-ac9e5b384e-item-4c19aed952">
      <h3 class="cmp-accordion__header">
        <button id="accordion-ac9e5b384e-item-4c19aed952-button" class="cmp-accordion__button" aria-controls="accordion-ac9e5b384e-item-4c19aed952-panel" data-cmp-hook-accordion="button">
          <span class="cmp-accordion__title">Item 3</span>
          <span class="cmp-accordion__icon"></span>
        </button>
      </h3>
      <div data-cmp-hook-accordion="panel" id="accordion-ac9e5b384e-item-4c19aed952-panel" class="cmp-accordion__panel cmp-accordion__panel--hidden" role="region" aria-labelledby="accordion-ac9e5b384e-item-4c19aed952-button" aria-hidden="true">
        <div class="responsivegrid">
          <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
            <div class="image aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0">
              <div data-cmp-is="image" data-cmp-lazy="" data-cmp-lazythreshold="0" data-cmp-src="/content/core-components-examples/library/core-content/accordion/_jcr_content/root/responsivegrid/demo_397543166/component/accordion/item_770673778/image.coreimg.82{.width}.jpeg" data-cmp-widths="600,800,1000,1200,1600" data-asset="/content/dam/core-components-examples/library/sample-assets/mountain-range.jpg" data-asset-id="c0a39183-23f4-48f0-8db7-bb41ba2b0122" data-title="Aerial photo of mountain range" id="image-7a7eb31799" data-cmp-data-layer="{&quot;image-7a7eb31799&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;dc:title&quot;:&quot;Aerial photo of mountain range&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;c0a39183-23f4-48f0-8db7-bb41ba2b0122&quot;,&quot;repo:modifyDate&quot;:&quot;1970-01-01T00:00:00Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;/content/dam/core-components-examples/library/sample-assets/mountain-range.jpg&quot;}}}" class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
                <noscript data-cmp-hook-image="noscript"> &lt;img src="/content/core-components-examples/library/core-content/accordion/_jcr_content/root/responsivegrid/demo_397543166/component/accordion/item_770673778/image.coreimg.jpeg" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" alt="Aerial photo of mountain range" title="Aerial photo of mountain range"/&gt; </noscript>
                <meta itemprop="caption" content="Aerial photo of mountain range">
              </div>
            </div>
            <div class="text aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0">
              <div data-cmp-data-layer="{&quot;text-50fe80aa7e&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Libero id faucibus nisl tincidunt eget nullam non nisi. Hac habitasse platea dictumst vestibulum. Viverra orci sagittis eu volutpat odio facilisis mauris. Velit aliquet sagittis id consectetur purus ut. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt.</p>&quot;}}" id="text-50fe80aa7e" class="cmp-text">
                <p>Libero id faucibus nisl tincidunt eget nullam non nisi. Hac habitasse platea dictumst vestibulum. Viverra orci sagittis eu volutpat odio facilisis mauris. Velit aliquet sagittis id consectetur purus ut. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

