<div class="accordion panelcontainer">
  <div id="accordion-0cce173b3f" data-cmp-is="accordion" class="cmp-accordion" data-cmp-data-layer="{&quot;accordion-0cce173b3f&quot;:{&quot;shownItems&quot;:[],&quot;@type&quot;:&quot;core-components-examples/components/accordion&quot;}}" data-placeholder-text="false">
    <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-0cce173b3f-item-a872dedc13&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 1&quot;}}" id="accordion-0cce173b3f-item-a872dedc13">
      <h3 class="cmp-accordion__header">
        <button id="accordion-0cce173b3f-item-a872dedc13-button" class="cmp-accordion__button" aria-controls="accordion-0cce173b3f-item-a872dedc13-panel" data-cmp-hook-accordion="button">
          <span class="cmp-accordion__title">Item 1</span>
          <span class="cmp-accordion__icon"></span>
        </button>
      </h3>
      <div data-cmp-hook-accordion="panel" id="accordion-0cce173b3f-item-a872dedc13-panel" class="cmp-accordion__panel cmp-accordion__panel--hidden" role="region" aria-labelledby="accordion-0cce173b3f-item-a872dedc13-button" aria-hidden="true">
        <div class="responsivegrid">
          <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          </div>
        </div>
      </div>
    </div>
    <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-0cce173b3f-item-49fca2cf94&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 2&quot;}}" id="accordion-0cce173b3f-item-49fca2cf94">
      <h3 class="cmp-accordion__header">
        <button id="accordion-0cce173b3f-item-49fca2cf94-button" class="cmp-accordion__button" aria-controls="accordion-0cce173b3f-item-49fca2cf94-panel" data-cmp-hook-accordion="button">
          <span class="cmp-accordion__title">Item 2</span>
          <span class="cmp-accordion__icon"></span>
        </button>
      </h3>
      <div data-cmp-hook-accordion="panel" id="accordion-0cce173b3f-item-49fca2cf94-panel" class="cmp-accordion__panel cmp-accordion__panel--hidden" role="region" aria-labelledby="accordion-0cce173b3f-item-49fca2cf94-button" aria-hidden="true">
        <div class="responsivegrid">
          <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          </div>
        </div>
      </div>
    </div>
    <div class="cmp-accordion__item" data-cmp-hook-accordion="item" data-cmp-data-layer="{&quot;accordion-0cce173b3f-item-c91e1f5ac7&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/accordion/item&quot;,&quot;dc:title&quot;:&quot;Item 3&quot;}}" id="accordion-0cce173b3f-item-c91e1f5ac7">
      <h3 class="cmp-accordion__header">
        <button id="accordion-0cce173b3f-item-c91e1f5ac7-button" class="cmp-accordion__button" aria-controls="accordion-0cce173b3f-item-c91e1f5ac7-panel" data-cmp-hook-accordion="button">
          <span class="cmp-accordion__title">Item 3</span>
          <span class="cmp-accordion__icon"></span>
        </button>
      </h3>
      <div data-cmp-hook-accordion="panel" id="accordion-0cce173b3f-item-c91e1f5ac7-panel" class="cmp-accordion__panel cmp-accordion__panel--hidden" role="region" aria-labelledby="accordion-0cce173b3f-item-c91e1f5ac7-button" aria-hidden="true">
        <div class="responsivegrid">
          <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

