<div class="menubar-editor">
  <ul role="menubar" aria-label="Text Formatting">
    <li role="none">
      <span
        role="menuitem"
        aria-haspopup="true"
        aria-expanded="false"
        tabindex="0"
      >Font<span aria-hidden="true"></span></span>
      <ul role="menu" data-option="font-family" aria-label="Font">
        <li role="menuitemradio" aria-checked="true"><span
            aria-hidden="true"
          ></span>Sans-serif</li>
        <li role="menuitemradio" aria-checked="false"><span
            aria-hidden="true"
          ></span>Serif</li>
        <li role="menuitemradio" aria-checked="false"><span
            aria-hidden="true"
          ></span>Monospace</li>
        <li role="menuitemradio" aria-checked="false"><span
            aria-hidden="true"
          ></span>Fantasy</li>
      </ul>
    </li>
    <li role="none">
      <span
        role="menuitem"
        aria-haspopup="true"
        aria-expanded="false"
        tabindex="-1"
      >Style/Color<span aria-hidden="true"></span></span>
      <ul role="menu" aria-label="Style/Color">
        <li role="none">
          <ul role="group" data-option="font-style" aria-label="Font Style">
            <li
              role="menuitemcheckbox"
              data-option="font-bold"
              aria-checked="false"
            ><span aria-hidden="true"></span>Bold</li>
            <li
              role="menuitemcheckbox"
              data-option="font-italic"
              aria-checked="false"
            ><span aria-hidden="true"></span>Italic</li>
          </ul>
        </li>
        <li role="separator"></li>
        <li role="none">
          <ul role="group" data-option="font-color" aria-label="Text Color">
            <li role="menuitemradio" aria-checked="true"><span
                aria-hidden="true"
              ></span>Black</li>
            <li role="menuitemradio" aria-checked="false"><span
                aria-hidden="true"
              ></span>Blue</li>
            <li role="menuitemradio" aria-checked="false"><span
                aria-hidden="true"
              ></span>Red</li>
            <li role="menuitemradio" aria-checked="false"><span
                aria-hidden="true"
              ></span>Green</li>
          </ul>
        </li>
        <li role="separator"></li>
        <li role="none">
          <ul
            role="group"
            data-option="text-decoration"
            aria-label="Text Decoration"
          >
            <li role="menuitemradio" aria-checked="true"><span
                aria-hidden="true"
              ></span>None</li>
            <li role="menuitemradio" aria-checked="false"><span
                aria-hidden="true"
              ></span>Overline</li>
            <li role="menuitemradio" aria-checked="false"><span
                aria-hidden="true"
              ></span>Line-through</li>
            <li role="menuitemradio" aria-checked="false"><span
                aria-hidden="true"
              ></span>Underline</li>
          </ul>
        </li>
      </ul>
    </li>

    <li role="none">
      <span
        role="menuitem"
        aria-haspopup="true"
        aria-expanded="false"
        tabindex="-1"
      >Text Align<span aria-hidden="true"></span></span>
      <ul role="menu" data-option="text-align" aria-label="Text Align">
        <li role="menuitemradio" aria-checked="true"><span
            aria-hidden="true"
          ></span>Left</li>
        <li role="menuitemradio" aria-checked="false"><span
            aria-hidden="true"
          ></span>Center</li>
        <li role="menuitemradio" aria-checked="false"><span
            aria-hidden="true"
          ></span>Right</li>
        <li role="menuitemradio" aria-checked="false"><span
            aria-hidden="true"
          ></span>Justify</li>
      </ul>
    </li>

    <li role="none">
      <span
        role="menuitem"
        aria-haspopup="true"
        aria-expanded="false"
        tabindex="-1"
      >Size<span aria-hidden="true"></span></span>
      <ul role="menu" aria-label="Size">
        <li
          role="menuitem"
          data-option="font-smaller"
          aria-disabled="false"
        >Smaller</li>
        <li
          role="menuitem"
          data-option="font-larger"
          aria-disabled="false"
        >Larger</li>
        <li role="separator"></li>
        <li role="none">
          <ul role="group" data-option="font-size" aria-label="Font Sizes">
            <li role="menuitemradio" aria-checked="false"><span
                aria-hidden="true"
              ></span>X-Small</li>
            <li role="menuitemradio" aria-checked="false"><span
                aria-hidden="true"
              ></span>Small</li>
            <li role="menuitemradio" aria-checked="true"><span
                aria-hidden="true"
              ></span>Medium</li>
            <li role="menuitemradio" aria-checked="false"><span
                aria-hidden="true"
              ></span>Large</li>
            <li role="menuitemradio" aria-checked="false"><span
                aria-hidden="true"
              ></span>X-Large</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <textarea
    style="font-size: medium; font-family: sans-serif"
    aria-label="Text Sample"
  >
    Four score and seven years ago our fathers brought forth on this continent a
    new nation, conceived in Liberty, and dedicated to the proposition that all
    men are created equal. Now we are engaged in a great civil war, testing
    whether that nation, or any nation, so conceived and so dedicated, can long
    endure. We are met on a great battle-field of that war. We have come to
    dedicate a portion of that field, as a final resting place for those who
    here gave their lives that that nation might live. It is altogether fitting
    and proper that we should do this. But, in a larger sense, we can not
    dedicate, we can not consecrate, we can not hallow, this ground. The brave
    men, living and dead, who struggled here, have consecrated it, far above our
    poor power to add or detract. The world will little note, nor long remember
    what we say here, but it can never forget what they did here. It is for us
    the living, rather, to be dedicated here to the unfinished work which they
    who fought here have thus far so nobly advanced. It is rather for us to be
    here dedicated to the great task remaining before us, that from these
    honored dead we take increased devotion to that cause for which they gave
    the last full measure of devotion, that we here highly resolve that these
    dead shall not have died in vain, that this nation, under God, shall have a
    new birth of freedom, and that government of the people, by the people, for
    the people, shall not perish from the earth.
  </textarea>
</div>

<p>
  <a href="https://en.wikipedia.org/wiki/Gettysburg,_Pennsylvania">More
    information on Gettysburg Address</a>
</p>