.rating-slider {
	label {
		display: block;
	}
	color: #005a9c;
	svg {
		forced-color-adjust: auto;
		touch-action: pan-y;
		.focus-ring {
			fill: #eee;
			stroke-width: 0;
			fill-opacity: 0;
		}
		.star {
			stroke-width: 2px;
			stroke: currentcolor;
			fill-opacity: 0;
		}
		.fill-left {
			stroke-width: 0;
			fill-opacity: 0;
		}
		.fill-right {
			stroke-width: 0;
			fill-opacity: 0;
		}
	}
	&:focus {
		outline: none;
		svg {
			.focus-ring {
				stroke-width: 2px;
				stroke: currentcolor;
			}
		}
	}
}
.rating-slider[aria-valuenow="5"] {
	svg {
		.star {
			fill: currentcolor;
			fill-opacity: 1;
		}
	}
}
.rating-slider[aria-valuenow="0.5"] {
	svg {
		.star-1 {
			.fill-left {
				fill: currentcolor;
				fill-opacity: 1;
			}
		}
	}
}
.rating-slider[aria-valuenow="1"] {
	svg {
		.star-1 {
			.star {
				fill: currentcolor;
				fill-opacity: 1;
			}
		}
	}
}
.rating-slider[aria-valuenow="1.5"] {
	svg {
		.star-1 {
			.star {
				fill: currentcolor;
				fill-opacity: 1;
			}
		}
		.star-2 {
			.fill-left {
				fill: currentcolor;
				fill-opacity: 1;
			}
		}
	}
}
.rating-slider[aria-valuenow="2"] {
	svg {
		.star-2 {
			.star {
				fill: currentcolor;
				fill-opacity: 1;
			}
		}
	}
}
.rating-slider[aria-valuenow="2.5"] {
	svg {
		.star-2 {
			.star {
				fill: currentcolor;
				fill-opacity: 1;
			}
		}
		.star-3 {
			.fill-left {
				fill: currentcolor;
				fill-opacity: 1;
			}
		}
	}
}
.rating-slider[aria-valuenow="3"] {
	svg {
		.star-3 {
			.star {
				fill: currentcolor;
				fill-opacity: 1;
			}
		}
	}
}
.rating-slider[aria-valuenow="3.5"] {
	svg {
		.star-3 {
			.star {
				fill: currentcolor;
				fill-opacity: 1;
			}
		}
		.star-4 {
			.fill-left {
				fill: currentcolor;
				fill-opacity: 1;
			}
		}
	}
}
.rating-slider[aria-valuenow="4"] {
	svg {
		.star-4 {
			.star {
				fill: currentcolor;
				fill-opacity: 1;
			}
		}
	}
}
.rating-slider[aria-valuenow="4.5"] {
	svg {
		.star-4 {
			.star {
				fill: currentcolor;
				fill-opacity: 1;
			}
		}
		.star-5 {
			.fill-left {
				fill: currentcolor;
				fill-opacity: 1;
			}
		}
	}
}