<div
  role="radiogroup"
  aria-labelledby="group_label_1"
  id="rg1"
  data-component="radio"
  class="cx-radio"
>
  <h3 id="group_label_1">Pizza Crust</h3>

  <div role="radio" aria-checked="false" tabindex="0">
    Regular crust
  </div>
  <div role="radio" aria-checked="false" tabindex="-1">
    Deep dish
  </div>
  <div role="radio" aria-checked="false" tabindex="-1">
    Thin crust
  </div>
</div>

<div
  role="radiogroup"
  aria-labelledby="group_label_2"
  id="rg2"
  data-component="radio"
  class="cx-radio"
>
  <h3 id="group_label_2">Pizza Delivery</h3>
  <div role="radio" aria-checked="false" tabindex="0">
    Pickup
  </div>

  <div role="radio" aria-checked="false" tabindex="-1">
    Home Delivery
  </div>

  <div role="radio" aria-checked="false" tabindex="-1">
    Dine in
  </div>
</div>